.accordion {
    list-style: none;
    padding: 0;

    .footer__bottom-list {
        padding: 0rem;
    }

    table {
        width: 100%;

        thead {
            tr {
                .head {
                    text-align: left;
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                    font-weight: 600;
                }
                .head:first-child{
                    width: 45%;
                    @media screen and (max-width:$large_tablet) {
                        width: auto;
                    }
                }
            }
        }
        tbody {
            tr {
                .head {
                    text-align: left;
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                    font-weight: 600;
                    @media screen and (max-width:$large_tablet) {
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                        vertical-align: top;
                    }
                }
                .head:first-child{
                    width: 45%;
                    @media screen and (max-width:$large_tablet) {
                        width: auto;
                    }
                }
                td {
                    text-align: left;
                    font-size: 1.3rem;
                    line-height: 1.6rem;

                    @media screen and (max-width:$large_tablet) {
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                        vertical-align: top;
                    }

                    .buttons {
                        a:first-child {
                            margin-left: 0rem;
                        }
                    }
                    .radio__box {
                        @media screen and (max-width:$large_tablet) {
                            padding-right: 0rem;
                        }
                    }
                    .expires {
                        display: flex;
                        flex-direction: column;

                        &__title {
                            font-weight: 600;
                        }
                    }
                    .buttons {
                        a {
                            margin-left: 2.5rem;
                        }
                        .arrows {
                            svg {
                                margin-left: 1.9rem;
                            transition: all 0.5s;
                            }
                        }
                    }
                    ul {
                        
                        li {
                            margin: 0rem;

                            a {
                                text-transform: capitalize;
                                color: #037FC9;
                                text-decoration-line: underline;
                            }
                        }
                    }
                }
                td:last-child {
                    text-align: left;
                    @media screen and (max-width:$large_tablet) {
                        text-align: left;
                    }
                }
                td:first-child{
                    width: 45%;
                    @media screen and (max-width:$large_tablet) {
                        width: auto;
                    }
                }
            }
        }
    }



    .radio__content {
        @media screen and (max-width:$large_tablet) {
            width: 1.7rem;
            height: 1.7rem;
        }
        span {
            @media screen and (max-width:$large_tablet) {
                width: 1.1rem;
                height: 1.1rem;
            }
        }
    }

    .inner {
        padding: 1em 1rem 0.5rem 1rem;
        // overflow: hidden;
        display: none;

        .table-info {
            ul {
                        
                li {
                    margin: 0rem;

                    a {
                        text-transform: capitalize;
                        color: #037FC9;
                        text-decoration-line: underline;
                        font-size: 1.3rem;
                        line-height: 1.6rem;
                        @media screen and (max-width:$large_tablet) {
                            font-size: 1.8rem;
                            line-height: 2.2rem;
                        }
                    }
                }
            }
        }

        &.show {
            /*display: block;*/
        }
    }

    li {
        margin: .5em 0;

        .radio__label {
            font-weight: 600;
            font-size: 1.3rem;
            line-height: 1.3rem;
            color: #000000;
            text-transform: none;
            padding-left: 3rem;
            @media screen and (max-width:$large_tablet) {
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
        }
    }

    .list-active {
        .buttons {
            .arrows {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .toggle {
        position: relative;
        min-height: 4.8rem;
        padding: 0rem 1.2rem;
        background: #E9F4FA;
        cursor: pointer;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // width: 100%;

    

        @media screen and (max-width:$large_tablet) {
            min-height: 6.6rem; 
            padding: 0rem 0.6rem 0rem 1.2rem;
        }
        tbody {
            tr {
                td {
                    @media screen and (max-width:$large_tablet) {
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                        vertical-align: middle;
                    }
                }

                td:last-child {
                    text-align: right;
                }
            }
        }

        .footer__bottom-item {
            margin: 0rem 0 0rem 1rem;
            display: flex;
            align-items: center;
        }
    }
}