.advantages {
    background: rgba(183, 217, 239, 0.3);
    padding-top: 3.5rem;
    padding-bottom: 3rem;

    .center-wrap {
        max-width: 1020px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: calc((100% - 12rem * 3) / 4);
        // padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-img {
            margin-bottom: 3rem;
            min-height: 3.5rem;
            max-width: 4rem;
            width: 100%;
            position: relative;

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-title {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 19/16*1;
            text-transform: uppercase;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid $secondary-c;
            display: inline-block;
            max-width: 16rem;
            width: 100%;
            text-align: center;
            margin-bottom: 1.5rem;
        }

        &-text {
            max-width: 15rem;
            text-align: center;
            width: 100%;
        }

        &-link {
            position: relative;
            color: $secondary-c;
            margin: 0 0.5rem;

            &::before {
                content: "";
                position: absolute;
                left: 0px;
                bottom: 2px;
                width: 100%;
                height: 1px;
                background: $secondary-c;
                opacity: 1;
                transition: opacity .5s, width .5s;
            }

            &:hover::before {
                width: 0%;
                opacity: 0;
            }
        }
    }
}

.main-screen~.advantages {
    .center-wrap {
        max-width: 1170px;
    }

    .advantages__item-title {
        max-width: 18rem;
    }

    .advantages__item-text {
        max-width: 100%;
    }
}