.aside-product {
    background: #F7F7F7;
    padding: 1.5rem 1.8rem 2.4rem 1.8rem;
    width: 26.7rem;
    margin-left: 3rem;
    height: max-content;

    @media screen and (max-width:$large_tablet) {
        width: calc(100% - -3.6rem);
        margin-left: -1.8rem;
    }

    .pay-btn {
        display: inline-flex;
        margin-bottom: 1.1rem;
        transition: all 0.5s;

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        img {
            @media screen and (max-width:$large_tablet) {
                width: 100%;
                max-width: 300px;
            }
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__basket {
        &-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        &-title {
            font-weight: normal;
            font-size: 1.3rem;
            line-height: 1.6rem;
            @media screen and (max-width:$large_tablet) {
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
            
        }

        &-wrap {
            border-top: 1px solid #037FC9;
            border-bottom: 1px solid #037FC9;
        }

        &-item {
            padding: 1rem 0rem 0.8rem 0rem;
            display: flex;
            border-bottom: 1px solid #E5E5E5;

            &:last-child {
                border-bottom: none;
            }
            .img-wrap {
                max-width: 4.2rem;
                margin-right: 0.6rem;
            }
        }

        &-info {
            width: 100%;
            @media screen and (max-width:$large_tablet) {
                width: 100%;
            }
            .title {
                font-weight: bold;
                font-size: 1rem;
                line-height: 1.2rem;
                text-align: left;
                margin-bottom: 0.9rem;
            }

            span {
                font-size: 1rem;
                line-height: 1.2rem;
            }

            .price {
                font-size: 1.3rem;
                line-height: 1.6rem;
                font-weight: bold;
                color: #3293D0;
            }
        }
    }

    &__items {
        text-align: center;

        .btn {
            margin-bottom: 1rem;
            @media screen and (max-width:$large_tablet) {
                margin: 0rem auto 2.7rem auto;
                display: block;
                width: fit-content;
                min-width: 300px;
            }
        }

        &-item {
            font-size: 1.3rem;
            line-height: 1.6rem;
            border-top: 1px solid #E5E5E5;
            padding-top: 1.3rem;
            text-align: center;
            
            
            .warning {
                display: inline-block;
                font-size: 1rem;
                line-height: 1.2rem;
                text-align: center;
                margin-bottom: 2rem;
                color: rgba(49, 49, 49, 0.58);

                @media screen and (max-width:$large_tablet) {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    margin-top: 2rem;
                }
            }

            .item-row {
                display: flex;
                justify-content: space-between;

                h4,
                .price {
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    margin-bottom: 1rem;
                    text-transform: uppercase;

                    @media screen and (max-width:$large_tablet) {
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                    }
                }
                .price.blue {
                    color: #3293D0;
                }
                span {
                    margin-bottom: 1rem;

                    @media screen and (max-width:$large_tablet) {
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                    }
                }
            }
        }
    }

    &__promo {
        margin-bottom: 1.7rem;

        .inputs__field-row {
            flex-direction: row;
        }
        label {
            font-weight: 600;
            display: block;
            font-size: 1.3rem;
            line-height: 1.6rem;
            margin-bottom: 0.6rem;
            @media screen and (max-width:$large_tablet) {
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
        }

        .inputs__field {

            @media screen and (max-width:$large_tablet) {
                font-size: 1.8rem;
                line-height: 6.4rem;
            }

            &::placeholder {
                font-weight: normal;
                font-size: 1rem;
                color: #A3A3A3;
                @media screen and (max-width:$large_tablet) {
                    font-size: 1.8rem;
                }
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #0166B0;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            transition: all 0.5s;
            outline: none;
            border: none;
            flex-shrink: 0;
            margin-left: 1.3rem;
            cursor: pointer;
            
            @media screen and (max-width:$large_tablet) {
                width: 6.4rem;
                height: 6.4rem;
                margin-left: 1.8rem;
            } 

            &:hover {
                opacity: 0.7;
            }
        }
    }
}