.btn {
	border: none;
	cursor: pointer;
	text-decoration: none;
	line-height: 5.5rem;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	font-weight: bold;
	padding: 0 5rem;
	transition: all 0.5s;
	text-transform: uppercase;
	background: #0166B0;
	color: #ffffff;
	border: 1px solid #0166B0;

	&:hover {
		background: transparent;
		color: #0166B0;
	}
}