.btn {
	border: none;
	cursor: pointer;
	text-decoration: none;
	line-height: 5.1rem;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	background: $secondary-c;
	font-weight: bold;
	padding: 0 5rem;
	transition: all 0.5s;
	color: #fff;
	font-weight: bold;
	font-size: 1.3rem;
	text-transform: uppercase;
	font-family: $secondary-f;
	border: 1px solid rgba($secondary-c, 0);

	&:hover {
		background-color: inherit;
		color: $secondary-c;
		border: 1px solid $secondary-c;
	}

	&--empty {
		background-color: inherit;
		color: $secondary-c;
		border: 1px solid $secondary-c;

		&:hover {
			border: 1px solid rgba($secondary-c, 0);
			background-color: $secondary-c;
			color: #fff;
		}
	}
}