.cabinet {
    &__breadcrumb {
        .breadcrumb {
            &__wrap {
                max-width: 1030px;
            }
        }
    }

    .back {
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 1.6rem;
        color: #0166B0;
        transition: all 0.5s;
        display: block;
        margin-bottom: 0.8rem;
        &:hover {
            opacity: 0.7;
        }
    }

    &__wrap {
        max-width: 1030px;
        width: 100%;
        margin: 0 auto;
        display: flex;
    }

    &__sidebar {
        max-width: 23.5rem;
        width: 100%;
        background: #E9F4FA;
        position: relative;
        padding-top: 2rem;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            width: 1000%;
            height: 1000%;
            background-color: inherit;
        }

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1000%;
            background-color: inherit;
        }

        &-list {
            padding-right: 8rem;
        }

        &-item {
            margin: 0;

            &:first-child {
                .cabinet__sidebar-link {
                    padding-top: 0;
                }
            }

            &:last-child {
                .cabinet__sidebar-link {
                    border: none;
                }
            }

            svg {
                margin-right: 0.5rem;
                width: 1rem;
                fill: $secondary-c;
            }
        }

        &-link {
            padding: 1.2rem 0 1rem;
            font-size: 1.3rem;
            line-height: 16/13*1;
            text-transform: capitalize;
            display: block;
            border-bottom: 1px solid #fff;
            transition: color .5s, text-shadow .5s;
            color: $primary-c;

            &:first-child {
                // padding-top: 0;
            }

            &:last-child {
                // border: none;
            }

            &:hover {
                color: $secondary-c;
                text-shadow: 0 0 1px $secondary-c, 0 0 1px $secondary-c;
            }

            &--active {
                color: $secondary-c;
                text-shadow: 0 0 1px $secondary-c, 0 0 1px $secondary-c;
            }
        }
    }

    &__body {
        padding-top: 2rem;
        padding-bottom: 3.8rem;
        width: calc(100% - 23.5rem - 8.5rem);
        margin-left: 8.5rem;

        .content {
            margin-bottom: 2rem;
        }

        .number-pay {
            background-image: url(http://localhost:8081/assets/images/icon-number-cart.svg);
            background-position: right 0.7rem center;
            background-repeat: no-repeat;
        }


        &-btn {
            margin-top: 2rem;
            text-align: right;

            .btn {
                margin-left: auto;
                padding: 0 7rem;

            }
        }

        .cabinet__3-1--btn {
            text-align: right;

            .btn {
                margin-left: 1.7rem;
            }
        }

    }

    &__information {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        .content {
            margin-bottom: 0;
        }

        &-row {
            margin-bottom: 2rem;
            font-size: 1.3rem;
            line-height: 16/13*1;
            text-transform: capitalize;
            color: #313131;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        &-title {
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        &-link {
            text-transform: lowercase;
            font-weight: 400;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 0%;
                height: 1px;
                background: $primary-c;
                opacity: 0;
                transition: opacity .5s, width .5s;
            }

            &:hover::before {
                width: 100%;
                opacity: 1;
            }
        }

        &-name {
            font-weight: 400;
            text-transform: lowercase;
        }
    }

    &__address {
        margin-bottom: 1.2rem;

        &-wrap {
            display: flex;
        }

        &-item {
            max-width: 10rem;
            width: 100%;

            &+.cabinet__address-item {
                margin-left: 8rem;
            }

            .radio {
                margin-bottom: 1.2rem;

                &__label {
                    padding-top: 0.5rem;
                    padding-left: 2rem;
                    font-weight: 600;
                    text-transform: capitalize;

                    color: #313131;
                }
            }
        }

        &-content {
            padding-left: 2rem;

            p {
                font-size: 1.3rem;
            }
        }

        &-tel {
            font-size: 1.3rem;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0px;
                bottom: 2px;
                width: 0%;
                height: 1px;
                background: $primary-c;
                opacity: 0;
                transition: opacity .5s, width .5s;
            }

            &:hover::before {
                width: 100%;
                opacity: 1;
            }
        }
    }
}