.catalog-test {
    padding-top: 4rem;

    @media screen and (max-width:$large_tablet) {
        padding-bottom: 7.5rem;
    }

    .center-wrap {
        @media screen and (max-width:$large_mobile) {
            padding: 0;
        }
    }

    &__wrap {
        @media screen and (max-width:$large_mobile) {
            padding: 0 20px;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 3.6rem;
        line-height: 43/36*1;
        text-transform: uppercase;
        color: #037FC9;
        max-width: 52rem;
        width: 100%;
        margin: 0 auto 2.5rem;

        @media screen and (max-width:$large_tablet) {
            text-align: center;
            margin: 0 auto 1.5rem;
            font-size: 3rem;
        }
    }

    &__breadcrumb {
        .breadcrumb {
            &__wrap {
                max-width: 1030px;
            }
        }
    }

    &__bottom {
        &-title {
            font-weight: 600;
            text-transform: uppercase;
            color: #037FC9;
            margin-bottom: 2.5rem;

            @media screen and (max-width:$large_tablet) {
                display: none;
            }
        }


        &-form {
            max-width: 50.5rem;
            width: 100%;
            padding-left: 5.5rem;

            @media screen and (max-width:$large_tablet) {
                padding-left: 0;
                max-width: 100%;
            }

            @media screen and (max-width:$large_mobile) {
                padding: 0 20px;
            }

            .inputs__field {
                width: calc(100% - 14rem - 1rem);
                margin-right: 1rem;
                padding-right: 0.5rem;

                @media screen and (max-width:$large_tablet) {
                    margin-right: 0;
                    margin-bottom: 4rem;
                    line-height: 6.2rem;
                    width: 100%;
                }

                &-wrap {
                    display: flex;

                    @media screen and (max-width:$large_tablet) {
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 0;
                    }
                }

                &::placeholder {
                    font-size: 1rem;
                    text-transform: lowercase;
                    color: #A3A3A3;

                    @media screen and (max-width:$large_tablet) {
                        font-size: 1.8rem;

                    }
                }

            }

            .btn {
                padding: 0 0.5rem;
                max-width: 14rem;
                width: 100%;

                @media screen and (max-width:$large_tablet) {
                    max-width: 30rem;
                    line-height: 6.2rem;
                }
            }
        }

        &-right {
            width: calc(100% - 50.5rem - 6rem);
            margin-left: 6rem;
            background-color: $secondary-c;
            padding: 5rem 8rem;

            @media screen and (max-width:$large_tablet) {
                width: 100%;
                margin-left: 0;
                margin-bottom: 6.5rem;
                padding: 5rem 13rem;
            }
        }

        &-link {
            color: $secondary-c;
            background-color: #fff;
            width: 100%;

            @media screen and (max-width:$large_tablet) {
                padding: 0 1rem;
            }

            &:hover {
                border: 1px solid #fff;
                color: #fff;
            }
        }

        &-wrap {
            display: flex;

            @media screen and (max-width:$large_tablet) {
                flex-direction: column-reverse;
            }
        }

        // .center-wrap {
        //     padding-right: 0;
        //     padding-left: calc((100% - 1020px) / 2);
        //     max-width: 100%;

        //     @media screen and (max-width:1070px) {
        //         padding-left: 15px;
        //     }
        // }
    }

    .content {
        max-width: 45rem;
        width: 100%;
        text-align: center;
        margin: 0 auto 3.5rem;
        font-size: 1.8rem;
        text-transform: lowercase;

        @media screen and (max-width:$large_tablet) {
            max-width: 100%;
            margin: 0 auto 2rem;
        }
    }
}