.catalog {
    padding-bottom: 6rem;

    @media screen and (max-width:$large_tablet) {
        padding-bottom: 5.5rem;
    }

    &__breadcrumb {
        .breadcrumb__wrap {
            max-width: 1070px;
        }
    }

    &__wrap {
        display: flex;
        padding-top: 2rem;
        max-width: 1070px;
        margin: 0 auto;

        @media screen and (max-width:$large_tablet) {
            padding-top: 2.5rem;
            position: relative;
        }
    }

    &__sidebar {
        max-width: 18.5rem;
        width: 100%;

        @media screen and (max-width:$large_tablet) {
            position: absolute;
            top: 0;
            right: 200%;
            height: 100vh;
            max-width: 100%;
            z-index: 20;
            background-color: #fff;
            transform: translateX(-110%);
            transition: transform 0.7s, right 0.7s;
            padding-bottom: 4rem;
            overflow: auto;

            &::-webkit-scrollbar-thumb {
                background: $secondary-c !important;
                border-radius: 10rem;
            }

            &::-webkit-scrollbar {
                width: 0.5rem;
            }

            &::-webkit-scrollbar-track {
                border-radius: 10rem;
                background: color;
            }

            &--active {
                transform: translateX(0);
                right: 0;
                padding: 2.5rem 2rem 0 2rem;

            }
        }

        &-btns {
            display: none;

            @media screen and (max-width:$large_tablet) {
                display: flex;
                justify-content: space-between;
                margin-top: 3.5rem;

                .btn {
                    padding: 0 0.5rem;
                    width: calc(50% - 1.2rem);
                }
            }
        }

        &-title {
            font-weight: 600;
            font-size: 1.3rem;
            line-height: 16/13*1;
            text-transform: capitalize;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid #D6D6D6;

            @media screen and (max-width:$large_tablet) {
                display: none;

            }

            &--mobile {
                display: none;

                @media screen and (max-width:$large_tablet) {
                    display: flex;
                    justify-content: space-between;
                    font-size: 3rem;
                    text-transform: uppercase;
                    padding: 0;
                    border-bottom: none;
                    margin-bottom: 4rem;
                }
            }

            img {
                margin-right: 0.5rem;

            }
        }

        &-close {
            cursor: pointer;

            &:hover {
                svg {
                    fill: $secondary-c;
                }
            }

            svg {
                width: 2.4rem;
                fill: $primary-c;
                transition: fill .5s;
            }
        }
    }

    &__menu {
        display: none;
        padding-bottom: 1.5rem;

        @media screen and (max-width:$large_tablet) {
            padding-top: 2rem;
        }

        &-box {
            margin-bottom: 1rem;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }

        &-item {
            transition: color .5s;
            cursor: pointer;
            position: relative;
            font-size: 1.3rem;
            padding-right: 1.5rem;
            transition: color .5s, border-bottom-color 1s;

            @media screen and (max-width:$large_tablet) {
                border: 1px solid #E7E8E3;
                border-bottom-color: rgba(#E7E8E3, 0);
                padding: 2.3rem 1.5rem 2rem 1.5rem;
                font-size: 1.8rem;
                transition: border .5s;
            }

            &::before {
                content: '';
                position: absolute;
                top: calc(50% - 0.6rem);
                right: 0.3rem;
                width: 0.6rem;
                height: 1.2rem;
                background-image: url('~img/svg/filter-arrow.svg');
                background-repeat: no-repeat;
                background-size: cover;
                transition: opacity .5s, transform .5s;

                @media screen and (max-width:$large_tablet) {
                    width: 1.2rem;
                    height: 2.4rem;
                    top: calc(50% - 1.2rem);
                    right: 2rem;
                }
            }

            &:hover {
                color: #037FC9;
            }

            &--active {
                color: #037FC9;

                @media screen and (max-width:$large_tablet) {
                    border: 1px solid #037FC9;
                }

                &::before {
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__dropmenu {
        padding-left: 1rem;
        padding-top: 1rem;
        display: none;

        @media screen and (max-width:$large_tablet) {
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
        }

        .inputs__checkbox {
            @media screen and (max-width:$large_tablet) {
                margin-bottom: 2.5rem;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }

    &__filter {
        font-weight: 600;
        font-size: 1.3rem;
        text-transform: capitalize;
        padding: 1.6rem 1.5rem 1.3rem 0;
        cursor: pointer;
        transition: color .5s, border-bottom-color 1s;
        position: relative;
        display: block;

        @media screen and (max-width:$large_tablet) {
            border: 1px solid #E7E8E3;
            border-bottom-color: rgba(#E7E8E3, 0);
            padding: 2.3rem 1.5rem 2rem 1.5rem;
            font-size: 1.8rem;
            transition: border .5s;
        }

        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 0.6rem);
            right: 0.3rem;
            width: 0.6rem;
            height: 1.2rem;
            background-image: url('~img/svg/filter-arrow.svg');
            background-repeat: no-repeat;
            background-size: cover;
            transition: opacity .5s;
            transition: transform .5s;

            @media screen and (max-width:$large_tablet) {
                width: 1.2rem;
                height: 2.4rem;
                top: calc(50% - 1.2rem);
                right: 2rem;
            }
        }

        &-list {
            @media screen and (max-width:$large_tablet) {
                margin-top: 1.5rem;
            }
        }

        &--all {
            &::before {
                display: none;
            }
        }

        &--active {
            &::before {
                transform: rotate(90deg);
            }

            @media screen and (max-width:$large_tablet) {
                border: 1px solid #037FC9;
            }
        }

        &:hover {
            color: $secondary-c;

            @media screen and (max-width:$large_tablet) {
                border: 1px solid #037FC9;
            }
        }

        &-row {
            border-bottom: 1px solid #D6D6D6;

            @media screen and (max-width:$large_tablet) {
                border: none;

                &:last-child {
                    .catalog__filter {
                        border-bottom-color: rgba(#E7E8E3, 1);
                    }
                }
            }
        }
    }

    &__body {
        width: calc(100% - 18.5rem - 5rem);
        margin-left: 5rem;

        @media screen and (max-width:$large_tablet) {
            margin-left: 0;
            width: 100%;
        }
    }

    &__value {
        display: flex;
        align-items: center;
        background: #E9F4FA;
        padding: 0.5rem 0 0.3rem 2rem;
        margin-bottom: 1rem;

        @media screen and (max-width:$large_tablet) {
            display: none;
        }

        &--mobile {
            display: none;

            @media screen and (max-width:$large_tablet) {
                display: flex;
                justify-content: space-between;
                padding: 0;
                background: inherit;
                margin-bottom: -1rem;
            }
        }

        &-title {
            font-weight: 500;
            font-size: 1rem;
            text-transform: capitalize;
            color: #000000;
            position: relative;
            padding-right: 0.2rem;
            margin-right: 1rem;

            &::before {
                content: '|';
                position: absolute;
                top: 0;
                right: 0;
                color: #fff;
            }
        }

        &-item {
            font-size: 1rem;
            text-transform: lowercase;
            color: #000000;

            @media screen and (max-width:$large_tablet) {
                width: calc(50% - 0.5rem);
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: normal;
                font-size: 1.8rem;
                padding: 2rem 1.5rem 2rem 3rem;
                background: rgba(#E9F4FA, .5);
                margin-bottom: 1rem;
            }

            &:hover {
                svg {
                    fill: $secondary-c;
                }
            }

            svg {
                cursor: pointer;
                fill: $primary-c;
                transition: fill .5s;

                @media screen and (max-width:$large_tablet) {
                    width: 2.4rem;
                    margin-left: 2rem;
                }
            }

            &+.catalog__value-item {
                margin-left: 1.2rem;

                @media screen and (max-width:$large_tablet) {
                    margin-left: 0;
                }
            }
        }

        &-close {
            font-size: 1rem;
            text-transform: lowercase;
            color: $secondary-c;
            margin-left: 1.2rem;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0px;
                bottom: 2px;
                width: 100%;
                height: 1px;
                background: $secondary-c;
                opacity: 1;
                transition: opacity .5s, width .5s;
            }

            &:hover::before {
                width: 0%;
                opacity: 0;
            }
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 2rem;
        margin-bottom: 2rem;

        @media screen and (max-width:$large_tablet) {
            padding-left: 0;
            margin-bottom: 5rem;
        }

        &-filter {
            display: none;

            @media screen and (max-width:$large_tablet) {
                display: flex;
                align-items: center;
                background-color: $secondary-c;
                padding: 0 0.5rem;
                max-width: 17.5rem;
                margin-right: 1.5rem;
                width: 100%;
                display: flex;
                justify-content: center;

                &:hover {
                    .catalog__row-title {
                        color: $secondary-c;
                    }

                    svg {
                        fill: $secondary-c;
                    }
                }
            }
        }

        &-title {
            text-transform: uppercase;
            color: #FFFFFF;
            transition: color .5s;

        }

        svg {
            fill: #fff;
            width: 1.6rem;
            margin-right: 1rem;
            transition: fill .5s;
        }
    }

    &__sort {
        display: flex;
        align-items: center;
        max-width: 16.5rem;
        width: 100%;

        @media screen and (max-width:$large_tablet) {
            width: calc(100% - 17.5rem - 1.5rem);
            max-width: 100%;
        }

        &-title {
            font-weight: 500;
            font-size: 1rem;
            text-transform: capitalize;
            color: #000000;
            margin-right: 1rem;
            flex-shrink: 0;

            @media screen and (max-width:$large_tablet) {
                display: none;
            }
        }
    }

    &__select {
        max-width: 12.5rem;
        width: 100%;

        @media screen and (max-width:$large_tablet) {
            max-width: 100%;

        }

        .select {
            @media screen and (max-width:$large_tablet) {
                line-height: 6.2rem;
            }

            &__value {
                border: 1px solid $primary-c;
                padding: 0.5rem 1.5rem 0.2rem 0.5rem;

                @media screen and (max-width:$large_tablet) {
                    padding: 0 3.5rem 0 0.5rem;
                }
            }

            &::before {
                right: 0.5rem;
            }
        }

        .select__value {}
    }

    &__result {
        font-size: 1rem;
        text-transform: capitalize;
        color: #465157;

        @media screen and (max-width:$large_tablet) {
            display: none;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: -1.6rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: -2.5rem;
        }
    }

    &__item {
        width: calc((100% - 1.6rem * 2) /3);
        margin-bottom: 1.6rem;

        @media screen and (max-width:$large_tablet) {
            width: calc((100% - 2rem * 1) /2);
            margin-bottom: 2.5rem;
        }

        &--hide {
            margin-bottom: 0px !important;
            padding: 0px !important;
            opacity: 0 !important;
            height: 0px !important;
        }
    }

    &__pagination {
        margin-top: 4rem;
        max-width: 16rem;
        width: 100%;
        margin-left: auto;

        @media screen and (max-width:$large_tablet) {
            display: none;
        }
    }
}