.check-in {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    &__breadcrumb {
        .breadcrumb__wrap {
            max-width: 1025px;
        }
    }

    &__wrap {
        max-width: 1025px;
        margin: 0 auto;
    }

    .content h2 {
        margin-bottom: 3.5rem;
    }

    .inputs__field {
        &-wrap {
            margin-bottom: 0;
        }

        &-row {
            margin-bottom: 1.8rem;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

}