.check-in {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    &__breadcrumb {
        .breadcrumb__wrap {
            max-width: 1025px;
        }
    }

    &__wrap {
        max-width: 1025px;
        margin: 0 auto;
    }

    .content {
        margin-bottom: 3.5rem;
        text-align: center;
    }

    .inputs__field {
        &-wrap {
            margin-bottom: 0;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 3.5rem;
            }
        }

        &-row {
            margin-bottom: 1.8rem;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    .inputs__checkbox {
        @media screen and (max-width:$large_tablet) {
            margin-right: auto;
            margin-left: initial;
            margin-bottom: 3.5rem;
        }
    }

}