.content {
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 16/13*1;

    h6 {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-size: 1.3rem;
    }

    ol {
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 19/13*1;
        padding-left: 1.5rem;
    }

    ul {
        text-transform: lowercase;
        list-style: initial;
        padding-left: 1.5rem;
    }

    h2 {
        font-weight: 600;
        text-transform: uppercase;
        color: #000000;
        font-size: 1.6rem;

        &~h3 {
            font-weight: 600;
            font-size: 1.3rem;
            text-transform: capitalize;
            color: #313131;
            margin-top: 1rem;
        }
    }
}