.edit {
    font-weight: normal;
    font-size: 1.3rem;
    text-transform: lowercase;
    color: $secondary-c;
    display: inline-flex;
    align-items: center;

    @media screen and (max-width:$large_tablet) {
        font-size: 1.8rem;
    }

    &:hover {
        .edit__title::before {
            width: 0%;
            opacity: 0;
        }
    }

    &__title {
        position: relative;
        padding-top: 0.5rem;
        margin-left: 0.5rem;

        &::before {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 2px;
            width: 100%;
            height: 1px;
            background: $secondary-c;
            opacity: 1;
            transition: opacity .5s, width .5s;
        }
    }
}