.edit {
    font-weight: normal;
    font-size: 1.3rem;
    text-transform: lowercase;
    color: $secondary-c;
    position: relative;
    display: inline-flex;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 1px;
        background: $secondary-c;
        opacity: 1;
        transition: opacity .5s, width .5s;
    }

    &:hover::before {
        width: 0%;
        opacity: 0;
    }

    &__title {
        padding-top: 0.5rem;
    }
}