.footer {

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width:$large_tablet) {
            flex-direction: column;
        }

        span {
            font-weight: 300;

            font-size: 1.3rem;
            line-height: 1.6rem;
            color: #465157;

            @media screen and (max-width:$large_tablet) {
                order: 2;
                line-height: 4.3rem;
                border-bottom: 1px solid #E5E5E5;
                display: block;
                width: 100%;
                text-align: center;
            }
        }

        &-list {
            display: flex;

            @media screen and (max-width:$large_tablet) {
                order: 3;
                padding: 1.3rem 0rem 2.4rem 0rem;
            }
        }

        &-item {
            margin-left: 1rem;
        }

        
    }
    &-logo {
        margin-bottom: 1rem;
        @media screen and (max-width:$large_tablet) {
            order: 1;
            max-width: 14.4rem;
        }
    }
    form {
        h4 {
            margin-bottom: 0.6rem;

            @media screen and (max-width:$large_tablet) {
                padding: 0;
            }
        }

        .inputs__field {
            font-weight: normal;
            font-size: 1rem;
            min-width: 13.4rem;

            @media screen and (max-width:$large_tablet) {
                line-height: 6.4rem;
                font-size: 1.8rem;
                border: 1px solid #E5E5E5;
                padding-left: 2rem;
            }

            &::placeholder {
                color: rgba(3, 127, 201, 0.5);
                padding-left: 0rem;
                @media screen and (max-width:$large_tablet) {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    color: #465157;
                    padding-left: 0rem;
                }
            }

            &-wrap {
                position: relative;
            }
        }

        button {
            position: absolute;
            display: flex;
            align-items: center;
            z-index: 1;
            height: 100%;
            top: 0rem;
            right: 0rem;
            padding-right: 0.6rem;
            outline: none;
            border: none;
            background: none;
            cursor: pointer;
            transition: all 0.5s;

            svg {
                @media screen and (max-width:$large_tablet) {
                    min-width: 2.9rem;
                    height: auto;
                }
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &-content {
        display: flex;
        justify-content: space-between;
        padding: 1.8rem 0rem 2.5rem 0rem;

        @media screen and (max-width:$large_tablet) {
            flex-direction: column-reverse;
        }

        &__list {
            @media screen and (max-width:$large_tablet) {
                display: none;
                padding-bottom: 2rem;
            }
        }

        &__item {
            font-size: 1.3rem;
            line-height: 1.6rem;
            color: #313131;
            transition: all 0.5s;
            margin-bottom: 0.3rem;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.6rem;
                margin-bottom: 0.5rem;

                &:last-child {
                    margin-bottom: 0px;
                }
            }

            &:hover {
                color: #3293D0;
            }
        }

        &__nav {
            display: flex;

            @media screen and (max-width:$large_tablet) {
                flex-direction: column;
            }

            &-item {
                margin-right: 5.2rem;

                @media screen and (max-width:$large_tablet) {
                    margin-right: 0;
                    border-top: 1px solid #E5E5E5;
                }

                h4 {
                    @media screen and (max-width:$large_tablet) {
                        margin-bottom: 0;
                        display: block;
                        position: relative;
                    }

                    span {
                        display: none;

                        @media screen and (max-width:$large_tablet) {
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 0rem;
                            font-size: 3.7rem;
                            transition: all 0.5s;
                            transform: translate(0, -50%);
                        }
                    }
                }

                &:last-child {
                    margin-right: 0rem;
                }
            }


        }
    }

    h4 {
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 16/13*1;
        margin-bottom: 1.2rem;
        text-transform: uppercase;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 0;
            padding: 2.3rem 0;
            font-size: 1.8rem;
        }
    }

    .connection {
        background: #3293D0;
        padding: 1.7rem 0rem 1rem 0rem;

        
        @media screen and (max-width:$large_tablet) {
            padding: 2.7rem 0rem 3.3rem 0rem;
        }
        &__wrap {
            color: #ffffff;
            display: flex;
            align-items: center;

            @media screen and (max-width:$large_tablet) {
                flex-direction: column;
            }
        }

        &__left {
            width: calc(50% - 20px);
            @media screen and (max-width:$large_tablet) {
                padding-bottom: 1.7rem;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                justify-content: space-between;
            }
            .call-now__item:last-child {
                @media screen and (max-width:$large_tablet) {
                    justify-content: flex-end;
                    padding-right: 3.5rem;
                }
            }
            >a {
                transition: all 0.5s;
                &:hover {
                    opacity: 0.7;
                }
            }
        }

        &__right {
            width: calc(50% - -20px);
            justify-content: space-between;
            @media screen and (max-width:$large_tablet) {
                padding-top: 2rem;
                justify-content: space-between;
            }
        }

        &__left,
        &__right {
            display: flex;
            align-items: center;

            @media screen and (max-width:$large_tablet) {
                width: 100%;
            }

            .call-now__item {
                margin-right: 4.7rem;

                @media screen and (max-width:$large_tablet) {
                    width: calc(50% - 3rem);
                    margin-right: 0;
                }

                span {
                    font-weight: normal;
                    font-size: 1.3rem;
                    line-height: 1.6rem;

                    @media screen and (max-width:$large_tablet)  {
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                    }
                }
            }
        }
    }

    .center-wrap {
        max-width: 78.8rem;
    }


    .icon {

        @media screen and (max-width:$large_tablet) {
            width: 5rem;
            height: 5rem;
        }
        svg {

            @media screen and (max-width:$large_tablet) {
                height: auto;
                min-width: 2rem;
            }
            path {
                fill: #3293D0;
            }
        }
    }

}

