.main-block {
    display: flex;
    background: #F7F7F7;

    @media screen and (max-width:$large_tablet) {
        flex-direction: column;
    }
    

    &__left {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.6rem 2.8rem;
        width: 100%;

        @media screen and (max-width:$large_tablet) {
            padding: 2.6rem 2.1rem;
        }

        .content {
            max-width: 46.9rem;
            font-size: 2.4rem;
            line-height: 2.9rem;
            
            @media screen and (max-width:$large_tablet) {
                font-size: 2.3rem;
                line-height: 2.8rem;
                text-align: center;
                max-width: none;
            }
            h4 {
                text-transform: uppercase;
                margin-bottom: 2.5rem;
            }
        }
    }

    &__right{
        width: 100%;
        max-width: 58.2rem;

        .img-wrap {
            div {
                padding-bottom:  71.82%;
                @media screen and (max-width:$large_tablet) {
                    padding-bottom:  44.84%;
                }
            }
        }
    }

    
}