.main-screen {

    .center-wrap {
        max-width: 100%;
        padding-left: calc(((100% - 1170px) / 2) + 15px);
        padding-right: 0;

        @media screen and (max-width:$large_tablet) {
            padding: 0;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 3.6rem;
        line-height: 43/36*1;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 1rem;

        @media screen and (max-width:$large_tablet) {
            font-size: 3.2rem;
            border: none;
            padding-bottom: 0;
            margin-bottom: 0.5rem;
            text-align: center;

        }
    }

    .content {
        margin-bottom: 8rem;
        max-width: 30rem;
        width: 100%;
        font-size: 1.8rem;
        letter-spacing: 0.1em;
        text-transform: lowercase;

        @media screen and (max-width:$large_tablet) {
            max-width: 100%;
            margin-bottom: 1rem;
            font-size: 1.8rem;
            text-align: center;
        }
    }

    .swiper-slide {
        height: 100%;
    }

    &__wrap {
        display: flex;

        @media screen and (max-width:1185px) {
            padding-left: 15px;
        }

        @media screen and (max-width:$large_tablet) {
            padding: 0;
            flex-direction: column-reverse;
        }
    }

    &__content {
        max-width: 38.5rem;
        padding-right: 3.5rem;
        width: 100%;
        padding-top: 15.5rem;
        padding-bottom: 7rem;
        background-color: #F7F7F7;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            width: 1000%;
            height: 100%;
            background-color: #F7F7F7;
        }

        @media screen and (max-width:$large_tablet) {
            padding-top: 0;
            padding-bottom: 0;
            max-width: 100%;
        }

        &-wrap {
            @media screen and (max-width:$large_tablet) {
                max-width: $large_mobile;
                margin: 0 auto;
                padding: 4rem 20px 2.5rem;
            }
        }
    }

    &__slider {
        width: calc(100% - 38.5rem);

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            height: 40rem;
        }
    }

    &__btn {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width:$large_tablet) {
            flex-direction: column;
            align-items: center;
        }

        .btn {
            width: calc(50% - 0.5rem);
            padding: 0;

            @media screen and (max-width:$large_tablet) {
                width: 100%;
                max-width: 30rem;

                &+.btn {
                    margin-top: 2rem;
                }
            }
        }
    }
}