.order-tab {

    .table-toogles {
        &__item {
            td {
                height: auto;
                border-bottom: none;
            }
            &-content {
                display: none;
            }
            &--active {
                .table-toogles__item-content {
                    display: block;
                }
            }
            &-title--active {
                td {
                    border-bottom: none;

                    .status {
                        span {
                            svg {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
    .edit {
        color: #037FC9;
        :before {
            background: #037FC9;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.9rem;
            @media screen and (max-width:$large_tablet) {
                white-space: nowrap;
            }
        }
        .inputs {
            max-width: 50%;

            @media screen and (max-width:$large_tablet) {
                max-width: 100%;
            }
        }
        .inputs__select-wrap {
            max-width: 13.1rem;
            width: 100%;

            @media screen and (max-width:$large_tablet) {
                max-width: 130px;
            }

            .inputs__select {
                @media screen and (max-width:$large_tablet) {
                    line-height: 3rem;
                }
            }

            .placeholder {
                color: #3293D0;
                @media screen and (max-width:$large_tablet) {
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                }
            }
        }
        .inputs__field-wrap {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .inputs__label {
            margin-bottom: 0rem;
            margin-right: 1.1rem;
            font-weight: normal;
            font-size: 1.3rem;
            line-height: 1.6rem;

            @media screen and (max-width:$large_tablet) {
                white-space: nowrap;
            }
        }
    }
    table {
        width: 100%;
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 1.6rem;
        tbody {
            tr {
                td:first-child {
                    font-weight: 600;
                }

                &:last-child {
                    td {
                        border-bottom: none;
                    }
                }

                td {
                    border-bottom: 1px solid #E5E5E5;
                    height: 5.2rem;
                    border-spacing: 0px;

                    @media screen and (max-width:$large_tablet) {
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                    }
                    .date {
                        display: inline-flex;
                        align-items: center;
                        span:first-child {
                            position: relative;
                            margin-right: 1rem;
                            &:after {
                                content: '|';
                                color: #037FC9;
                                position: absolute;
                                top: 0;
                                right: -0.6rem;
                            }
                        }
                    }
                    .status {
                        display: flex;
                        margin-left: auto;
                        max-width: 18rem;
                        align-items: center;
                        justify-content: space-between;

                        @media screen and (max-width:$large_tablet) {
                            // margin-left: 0rem;
                            max-width: 100%;
                        }
                        .edit {
                            &__title {
                                padding-top: 0rem;
                            }
                        }
                        span {
                            font-weight: 600;
                            &.red {
                                color: #ED1C2E;
                            }
                            &.green {
                                color: #80BB13;
                            }
                            svg {
                                margin-left: 0.9rem;
                                transition: all 0.5s;
                            }
                        }
                    }
                }
            }
        }
    }
}