.popup-wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
    opacity: 0;
    transition: opacity 0.5s;

    &--active {
        display: flex;
    }

    &--menu {
        touch-action: none;
    }

    &--opacity1 {
        opacity: 1;
    }

    .popup {
        box-shadow: 0px 1px 36px 13px rgba(21, 21, 21, 0.03);
        box-sizing: border-box;
        position: relative;
        justify-content: space-between;
        opacity: 0;
        top: -15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: opacity 0.6s, top 0.6s;
        max-height: 95%;

        &--menu {
            box-shadow: none;
            background: transparent;
            padding: 0px;
            flex-grow: 1;
            height: 100%;
            width: 100%;
            max-height: 100%;
            display: flex;
        }

        &--opacity1 {
            opacity: 1;
            top: 0px;
        }

        &--line {
            .popup__inner {
                border-top: 3px solid $secondary-c;

                .content {
                    h2 {
                        color: #037FC9;
                    }
                }
            }

        }

        &__close {
            // position: absolute;
            width: 2.4rem;
            height: 2.4rem;
            // top: 0;
            // left: calc(100% - 15px);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                >div {
                    opacity: 0.3;
                }

            }

            div {
                transition: opacity 0.2s;
                width: 100%;
                height: 2px;
                width: 3rem;
                position: absolute;
                background: $primary-c;
                z-index: 4;

                &:nth-child(1) {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    transform: rotate(-45deg);
                }
            }
        }

        &__inner {
            background: #fff;
            padding-bottom: 2rem;
            max-width: calc(100% - 30px);
            width: 57.5rem;
            max-height: 100%;
            overflow: auto;
            will-change: transform;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                border-radius: 100px;
                background: $primary-c;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 100px;

            }

            &::-webkit-scrollbar-thumb:hover {
                background: $secondary-c;
            }

            &--390 {
                width: 39rem;
                text-align: center;

                .popup__body {
                    &-img {
                        max-width: 12.5rem;
                        margin: 3rem auto;
                    }
                }
            }



            &--335 {
                width: 33.5rem;

                .popup__top {
                    .content {
                        h2 {
                            text-transform: capitalize;
                        }
                    }
                }

                .popup__body {
                    .content {
                        h2 {
                            font-weight: bold;
                            font-size: 1.3rem;
                            padding-top: 0.5rem;
                        }
                    }
                }

                .popup__close {
                    width: 1.6rem;
                    height: 1.6rem;

                    div {
                        width: 2rem;
                    }
                }

            }
        }

        .content {

            h2 {
                font-size: 1.8rem;
                padding-right: 0.5rem;
            }

            h3 {
                margin-bottom: 0.5rem;
            }
        }

        &__top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 2rem 1.5rem;
            border-bottom: 1px solid #E5E5E5;
            margin-bottom: 1.5rem;
        }

        &__body {
            padding: 0 1.5rem;

            &-row {
                display: flex;
                align-items: center;
            }

            svg {
                fill: $secondary-c;
                width: 1.5rem;
                margin-right: 0.8rem;
            }
        }

        &__btn {
            margin-top: 2.4rem;
            text-align: center;

            .btn {
                padding: 0 9.5rem;
                line-height: 6.2rem;
                font-size: 1.8rem;
            }
        }

        .inputs {
            margin-top: 1.5rem;
        }

        .inputs__field,
        .inputs__select {
            line-height: 6.2rem;

            &::placeholder {
                font-weight: normal;
                font-size: 1.8rem;
                color: #465157;
                padding-left: 0.6rem;
            }


        }

        .inputs__field-wrap {
            margin-bottom: 0;
        }

        .inputs__select-wrap {
            .placeholder {
                font-size: 1.8rem;
                text-transform: lowercase;
                font-weight: normal;
                color: #465157;
            }
        }


        .inputs .inputs__select-wrap .arrow {
            max-width: 2.4rem;
            height: 1.2rem;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .aside-product__items-item {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 1.3rem 1.5rem 0rem 1.5rem;
            border-top: 1px solid #037FC9;

            .btn {
                margin: 0 auto 2.3rem auto;
                width: 100%;
                max-width: 300px;
            }

            .item-row {
                margin-bottom: 2rem;
            }

            h4 {
                margin-bottom: 0rem;
            }

            .price {
                margin-bottom: 0rem;
            }

            .pay-btn {
                margin: 0rem auto 0.5rem auto;
                width: 100%;
                max-width: 300px;

                img {
                    width: 100%;
                }
            }

            .pay-title {
                position: relative;
                font-weight: 600;
                font-size: 1.3rem;
                line-height: 1.6rem;
                text-align: center;
                margin-bottom: 1.3rem;

                span {
                    position: relative;
                    z-index: 2;
                    padding: 0rem 2rem;
                    display: inline-block;
                    background: #ffffff;
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    top: 25%;
                    left: 0;
                    z-index: 1;
                    background: #E5E5E5;
                }
            }
        }

        .step__cards {
            &-item {
                // padding: 0;
                display: flex;
                // margin-bottom: 0;
                // border: none;

                &:last-child {
                    border-bottom: none;
                    margin-bottom: 0rem;
                }
            }

            &-left {
                .img-wrap {
                    max-width: 14.4rem;
                    flex-shrink: 0;
                    // margin-right: 2rem;
                }
            }

            &-param {
                .content {
                    h3 {
                        text-transform: none;
                    }
                }
            }

            &-right {
                // align-items: flex-start;

                .price {
                    font-size: 1.6rem;

                    span {
                        font-weight: 400;
                        font-size: 1.8rem;
                    }


                }

                .price-for-one {
                    white-space: nowrap;

                    span {
                        color: #313131;
                    }
                }

                .price-all {
                    .price__title {
                        display: none;
                    }
                }


                .img-wrap {
                    max-width: 17rem;
                    width: 100%;
                }

                .amount {
                    margin-top: initial;
                    height: 6.4rem;
                }
            }
        }
    }
}