.product-slider {
    display: flex;
    position: relative;

    @media screen and (max-width:$large_tablet) {
        padding-bottom: 3.2rem;
        margin-bottom: 1.5rem;
    }

    @media screen and (max-width:$large_mobile) {
        padding-bottom: 5rem;
    }

    &__mini {
        height: 48.5rem;
        max-width: 10.8rem;
        width: 100%;

        @media screen and (max-width:$large_tablet) {
            display: none;
        }

        .swiper-container {
            height: 48.5rem;
        }

        &-img {
            max-width: 10.8rem;
            border: 1px solid #E5E5E5;
            transition: border-color .5s;

            >div {
                img {
                    object-fit: contain;
                }
            }

        }

        .swiper-slide-thumb-active {
            .product-slider__mini-img {
                border: 1px solid #0166B0;
            }
        }


    }

    &__big {
        position: relative;
        border: 1px solid #E7E8E3;
        margin-left: 2rem;
        width: calc(100% - 10.8rem - 2rem);
        cursor: pointer;

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            margin-left: 0;
            height: 54rem;
        }

        .swiper-container {
            height: 100%;
        }

        .swiper-wrapper {
            height: 100%;
        }

        &-item {
            height: inherit;

            @media screen and (max-width:$large_tablet) {
                padding-bottom: 4.4rem;
            }
        }

        &-img {
            display: block;
            height: inherit;

            img {
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                object-fit: contain;
            }
        }

        &-sale {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #F96311;
            font-weight: 600;
            font-size: 1.6rem;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 0.8rem 0 0.4rem;
            text-align: center;

            @media screen and (max-width:$large_tablet) {
                padding: 1.5rem 0 1.1rem;
            }
        }

        &-zoom {
            position: absolute;
            right: 0;
            top: 0;
            width: 5rem;
            height: 5rem;
            background-color: $secondary-c;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;

            @media screen and (max-width:$large_tablet) {
                width: 7.4rem;
                height: 7.4rem;
            }

            svg {
                width: 2.4rem;
                transition: transform .5s;
                will-change: transform;

                @media screen and (max-width:$large_tablet) {
                    width: 3.5rem;
                }
            }

            &:hover {
                svg {
                    transform: scale(0.95);
                }
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            width: 4.2rem;
            height: 4.2rem;
            background: #F7F7F7;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width:$large_tablet) {
                width: 6.2rem;
                height: 6.2rem;
            }

            svg {
                width: 1.8rem;
                fill: $secondary-c;
                transition: transform .5s;
                will-change: transform;

                @media screen and (max-width:$large_tablet) {
                    width: 2.4rem;
                }
            }

            &::after {
                display: none;
            }
        }

        .swiper-button-prev {
            &:hover {
                svg {
                    transform: translateX(-2px);
                }
            }
        }

        .swiper-button-next {
            &:hover {
                svg {
                    transform: translateX(2px);
                }
            }
        }
    }

    .swiper-pagination {
        display: none;

        @media screen and (max-width:$large_tablet) {
            display: block;
            bottom: 0;
            margin: 0 auto;
            width: 100%;

            &-bullet {
                width: 12px;
                height: 12px;
                background-color: #E7E8E3;
                opacity: 1;
                transition: all .5s;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    bottom: calc(100% - 3px);
                    width: 0;
                    height: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    border-style: solid;
                    border-width: 0 5px 7px 5px;
                    border-color: transparent transparent #E7E8E3 transparent;
                    opacity: 0;
                    transition: all .5s;
                }

                &+.swiper-pagination-bullet {
                    margin-left: 4.5rem;
                }

                &-active {
                    background-color: $secondary-c;

                    &::before {
                        opacity: 1;
                        border-color: transparent transparent $secondary-c transparent;
                    }


                }
            }
        }
    }
}