.product-info {
    padding-top: 3.5rem;
    padding-bottom: 1.6rem;

    .toogles__item-content {
        .center-wrap {
            max-width: 1170px;
            padding: 0px 0.5rem;
        }
    }

    &--cards {
        .product-info__list {
            max-width: 740px;
        }
    }

    &__body {
        @media screen and (max-width:$large_tablet) {
            padding-bottom: 4rem;
        }
    }

    &__btn {
        @media screen and (max-width:$large_tablet) {
            text-align: center;
            margin-top: 3rem;

            .btn {
                padding: 0 6.6rem;
            }
        }
    }

    &__wrap {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        max-width: 800px;
        margin: 0rem auto 3rem auto;

        @media screen and (max-width:$large_tablet) {
            flex-direction: column;
            margin: 0rem auto -2rem;

            .product-info--cards & {
                flex-direction: row;
            }
        }



        &-tabs {
            @media screen and (max-width:$large_tablet) {
                display: none;
            }
        }

        &-title {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 19/16*1;
            text-transform: uppercase;
            position: relative;
            cursor: pointer;
            transition: color .5s;

            @media screen and (max-width:$large_tablet) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #F7F7F7;
                margin-bottom: 1.3rem;
                padding: 1rem 1.5rem;
                font-size: 1.8rem;

                &:last-child {
                    margin-bottom: 0px;
                }
            }

            .product-info--cards & {
                @media screen and (max-width:$large_tablet) {
                    text-align: center;
                    width: 50%;
                    margin-bottom: 2rem;
                    line-height: 2.2rem;
                    padding: 0;
                    background: inherit;
                    justify-content: center;
                }

                @media screen and (max-width: 600px) {}
            }

            span {
                display: none;

                @media screen and (max-width:$large_tablet) {
                    display: block;
                    flex-shrink: 0;
                    width: 4rem;
                    height: 4rem;
                    background: #038CC9;
                    border-radius: 50%;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        top: calc(50% - 5px);
                        left: calc(50% - 0.5px);
                        width: 1px;
                        height: 10px;
                        background-color: #fff;
                        transition: opacity .5s;



                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: calc(50% - 0.5px);
                        left: calc(50% - 5px);
                        width: 10px;
                        height: 1px;
                        background-color: #fff;
                    }
                }
            }

            &.toogles__item-title--active {
                color: $secondary-c;

                span::before {
                    opacity: 0;
                }

                &::before {
                    width: 100%;
                    opacity: 1;

                    @media screen and (max-width:$large_tablet) {
                        display: none;
                    }

                    // @media screen and (max-width: 600px) {

                    //     width: inherit;
                    //     left: 50%;
                    //     transform: translate(-50%, 0px);
                    // }
                }
            }

            &::before {
                content: "";
                position: absolute;
                left: 0px;
                bottom: -2px;
                width: 0%;
                height: 1px;
                background: $secondary-c;
                opacity: 0;
                transition: opacity .5s, width .5s;

                @media screen and (max-width: 600px) {
                    width: inherit;
                    left: 50%;
                    transform: translate(-50%, 0px);
                }

            }

            &:hover {
                color: $secondary-c;

                &::before {}
            }
        }
    }

    &__bg {
        margin-bottom: 2rem;

        >div {
            padding-bottom: 30.42%;
        }
    }

    &__row {
        display: flex;
        min-height: 30rem;

        @media screen and (max-width:$large_tablet) {
            flex-direction: column;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            @media screen and (max-width:$large_tablet) {
                flex-direction: column;
            }

            .product-info__img-wrap {
                margin-right: auto;
                margin-left: initial;
            }
        }
    }

    &__img {
        width: 50%;

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            height: 28rem;
        }

        &-wrap {
            height: 100%;
            width: 70%;
            position: relative;
            margin-left: auto;

            @media screen and (max-width:$large_tablet) {
                margin: 0 auto;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

                @media screen and (max-width:$large_tablet) {
                    object-fit: contain;
                }
            }

            &--100 {
                height: 50%;
                width: 100%;

                @media screen and (max-width:$large_tablet) {
                    height: 100%;

                    img {
                        object-fit: cover;
                    }
                }
            }


        }
    }

    &__content {
        width: 50%;
        background: #F7F7F7;
        padding: 10rem 2rem 10rem 2.5rem;
        display: flex;
        align-items: center;

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            padding: 5rem 2.4rem;
        }

        .content {
            line-height: 20/13*1;
        }
    }
}