.radio {
    display: flex;
    align-items: center;

    &__tooltip {
        position: absolute;
        right: 0;
        top: 0;

        @media screen and (max-width:$large_tablet) {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__box {
        position: relative;

        @media screen and (max-width:$large_tablet) {
            padding-right: 3.5rem;
        }

        &+.radio__box {
            margin-left: 5rem;
        }
    }

    &__price {
        display: flex;
        font-size: 1.3rem;
        text-transform: lowercase;
        padding-left: 3rem;

        @media screen and (max-width:$large_tablet) {
            font-size: 1.8rem;
            padding-left: 25px;
        }

        &-new {
            font-weight: bold;
            text-transform: uppercase;
            color: #3293D0;
            margin-right: 0.5rem;

            .catalog-card & {
                color: $secondary-c;
            }
        }

        &-old {
            text-decoration: line-through;
            margin-right: 0.5rem;

        }
    }

    &__label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: $secondary-c;
        padding-left: 3rem;
        position: relative;
        cursor: pointer;
        @media screen and (max-width:$large_tablet) {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }

        @media screen and (max-width:$large_tablet) {
            font-size: 1.8rem;
            padding-left: 25px;
            padding-top: 0.5rem;
        }

        &:last-child {
            margin-bottom: 0px;
        }

        .pay-tabs & {
            margin-bottom: 0;
            padding-top: 0.6rem;
        }
    }

    &__content {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border: 1px solid $secondary-c;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width:$large_tablet) {
            width: 20px;
            height: 20px;
        }

        span {
            width: 0.9rem;
            height: 0.9rem;
            background-color: rgba($secondary-c, 0);
            display: block;
            border-radius: 50%;
            transition: background-color, .5s;

            @media screen and (max-width:$large_tablet) {
                width: 12px;
                height: 12px;
            }
        }
    }

    &__input {
        position: absolute;
        width: 0px;
        height: 0px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        padding-left: 2rem;

        &:checked+.radio__content span {
            background-color: rgba($secondary-c, 1);
        }

        &:checked+.radio__checkbox::before,
        &:checked+.radio__checkbox::after {
            opacity: 1;
        }
    }
}