.read-more {
    text-transform: lowercase;
    color: #0166B0;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;

    @media screen and (max-width:$large_tablet) {
        font-size: 1.8rem;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 2px;
        width: 100%;
        height: 1px;
        background: $secondary-c;
        opacity: 1;
        transition: opacity .5s, width .5s;
    }

    &:hover::before {
        width: 0%;
        opacity: 0;
    }

}