.step {

    .number-pay {
        background-image: url('~img/svg/icon-number-cart.svg');
        background-position: right 0.7rem center;
        background-repeat: no-repeat;
    }

    .inputs__checkbox {
        .edit {
            margin-left: 1.5rem;
        }
    }

    .radio {
        &__box {
             min-width: 20rem;
             span {
                font-weight: bold;
                font-size: 1.3rem;
                line-height: 1.6rem;
                text-transform: uppercase;
            }
            &.warning {
                color: #0166B0;
                text-transform: uppercase;
                text-align: center;
                background: #E9F4FA;
                padding: 1rem;
            }
        }
    }

    &__row {
        display: flex !important;
    }
    .pay-title {
        position: relative;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 1.6rem;
        text-align: center;
        margin-bottom: 0.8rem;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            top: 25%;
            left: 0;
            z-index: 1;
            background:  #E5E5E5;
        }
        span {
            position: relative;
            z-index: 2;
            padding: 0rem 2rem;
            display: inline-block;
            background: #E9F4FA;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.9rem;
        margin-bottom: 2.2rem;
        text-transform: uppercase;
    }

    &__left {
        padding-bottom: 4.6rem;
        width: calc(100% - 26.7rem);
    }

    &__cards {
        &-item {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid #E5E5E5;
            display: flex;
            justify-content: space-between;
        }
        &-param {
            display: flex;
            flex-direction: column;
            .amount {
                margin-top: auto;
            }
            .content {
                max-width: 40rem;
                h3 {
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    text-transform: uppercase;
                }
                p {
                    font-weight: normal;
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                }
            }
        }
        &-left {
            display: flex;

            .img-wrap {
                width: 13.3rem;
                margin-right: 1.2rem;
                border: 1px solid #E5E5E5;
                div {
                    padding-bottom: 100%;
                    img {
                        object-fit: contain;
                    }
                }
            }
        }
        &-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;

            .close-card {
                cursor: pointer;
                display: block;
                transition: all 0.5s;
                &:hover {
                    opacity: 0.7;
                }
            }

            .price {
                font-weight: normal;
                font-size: 1.3rem;
                line-height: 1.6rem;
                color: #000;
                text-align: right;
                span {
                    font-weight: bold;
                    color: #3293D0;
                }
                &-all {
                    span {
                        font-size: 2.4rem;
                        line-height: 2.9rem;
                        margin-top: 0.6rem;
                    }
                }
            }
        }
    }
}