.step__cards {
    &-item {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #E5E5E5;
        display: flex;
        justify-content: space-between;
    }
    &-param {
        display: flex;
        flex-direction: column;
        .amount {
            margin-top: auto;
        }
        .content {
            max-width: 40rem;
            h3 {
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.9rem;
                text-transform: uppercase;

                @media screen and (max-width:$large_tablet) {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    margin-bottom: 1rem;
                    width: calc(100% - -5rem);
                }
            }
            p {
                font-weight: normal;
                font-size: 1.3rem;
                line-height: 1.6rem;

                @media screen and (max-width:$large_tablet) {
                    margin-bottom: 0.8rem;
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                }
            }
        }
    }
    &-left {
        display: flex;

        .img-wrap {
            width: 13.3rem;
            margin-right: 1.2rem;
            border: 1px solid #E5E5E5;
            div {
                padding-bottom: 100%;

                @media screen and (max-width:$large_tablet) {
                    padding-bottom: 88.42%;
                }
                // img {
                //     object-fit: contain;
                // }
            }
        }
    }
    &-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        @media screen and (max-width:$large_tablet) {
            justify-content: flex-end;
        }

        .close-card {
            cursor: pointer;
            display: block;
            transition: all 0.5s;

            @media screen and (max-width:$large_tablet) {
                width: 1.2rem;
                height: 1.2rem;
                margin-bottom: auto;
            }
            &:hover {
                opacity: 0.7;
            }
        }

        .price {
            font-weight: normal;
            font-size: 1.3rem;
            line-height: 1.6rem;
            color: #000;
            text-align: right;
            @media screen and (max-width:$large_tablet) {
                white-space: nowrap;
                margin-bottom: 0.8rem;
                font-size: 1.8rem;
                line-height: 2.2rem;

                &:last-child {
                    margin-bottom: 0rem;
                }
            }
            span {
                font-weight: bold;
                color: #3293D0;
            }
            .price__title {
                font-weight: normal;
                font-size: 1.3rem;
                line-height: 1.6rem;
                color:  #313131;
            }
            &-all {
                @media screen and (max-width:$large_tablet) {
                    display: flex;
                    flex-direction: column;
                }
                span {
                    font-size: 2.4rem;
                    line-height: 2.9rem;
                    margin-top: 0.6rem;
                }
                .price__title {
                    font-weight: normal;
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                    color:  #313131;
                }
            }
        }
    }
}