.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 95;

    &:hover {
        .video {
            &__video {
                display: block;
            }

            &__play {
                width: 5rem;
                height: 5rem;

                svg {
                    display: none;
                }
            }
        }
    }

    &__play {
        cursor: pointer;
        width: 3.9rem;
        height: 3.9rem;
        left: 50%;
        border-radius: 50%;
        flex-shrink: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s;
        overflow: hidden;
        z-index: 999;
        background-color: $secondary-c;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: ripple-white 1s linear infinite;

        svg {
            width: 1rem;
            fill: #fff;
        }

        &--static {
            animation: none !important;
        }
    }

    &__video {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        pointer-events: none;
    }
}

@keyframes ripple-white {
    0% {
        box-shadow:
            0 0 0 0 rgba(255, 255, 255, 0.15),
            0 0 0 20px rgba(255, 255, 255, 0.15),
            0 0 0 40px rgba(255, 255, 255, 0.15);
    }

    100% {
        box-shadow:
            0 0 0 20px rgba(255, 255, 255, 0.15),
            0 0 0 40px rgba(255, 255, 255, 0.15),
            0 0 0 60px rgba(255, 255, 255, 0);
    }
}

@media screen and (max-width:$large_tablet) {
    @keyframes ripple-white {
        0% {
            box-shadow:
                0 0 0 0 rgba(255, 255, 255, 0.15),
                0 0 0 10px rgba(255, 255, 255, 0.15),
                0 0 0 20px rgba(255, 255, 255, 0.15);
        }

        100% {
            box-shadow:
                0 0 0 10px rgba(255, 255, 255, 0.15),
                0 0 0 20px rgba(255, 255, 255, 0.15),
                0 0 0 30px rgba(255, 255, 255, 0);
        }
    }
}