section.brand
    .center-wrap 
        .brand__wrap 
            h2.brand__title refrigerator brand
            .brand__list 
                .brand__item 
                    img(src='assets/images/png/brand-img1.png' alt='')
                .brand__item 
                    img(src='assets/images/png/brand-img2.png' alt='')
                .brand__item 
                    img(src='assets/images/png/brand-img3.png' alt='')
                .brand__item 
                    img(src='assets/images/png/brand-img4.png' alt='')
                .brand__item 
                    img(src='assets/images/png/brand-img5.png' alt='')
                .brand__item 
                    img(src='assets/images/png/brand-img6.png' alt='')
                .brand__item 
                    img(src='assets/images/png/brand-img7.png' alt='')
                .brand__item 
                    img(src='assets/images/png/brand-img8.png' alt='')
                .brand__item.brand__item--bg
                    img(src='assets/images/png/brand-img9.png' alt='')
                .brand__item 
                    img(src='assets/images/png/brand-img10.png' alt='')
                .brand__item 
                    img(src='assets/images/png/brand-img11.png' alt='')
                .brand__item 
                    img(src='assets/images/png/brand-img12.png' alt='')
                .brand__item.brand__item--hide
                .brand__item.brand__item--hide
                .brand__item.brand__item--hide
                .brand__item.brand__item--hide
