section.cabinet
    .center-wrap 
        .cabinet__wrap 
            .cabinet__sidebar
                .cabinet__sidebar-wrap 
                    ul.cabinet__sidebar-list 
                        li.cabinet__sidebar-item 
                            a(href="").cabinet__sidebar-link Profile
                        li.cabinet__sidebar-item 
                            a(href="").cabinet__sidebar-link Order History
                        li.cabinet__sidebar-item 
                            a(href="").cabinet__sidebar-link your subscription
                        li.cabinet__sidebar-item 
                            a(href="").cabinet__sidebar-link Address Book
                        li.cabinet__sidebar-item 
                            a(href="").cabinet__sidebar-link Payment Methods
                        li.cabinet__sidebar-item 
                            a(href="").cabinet__sidebar-link Password
                        li.cabinet__sidebar-item 
                            a(href="").cabinet__sidebar-link Log out
            .cabinet__body         