section.cabinet
    .center-wrap 
        .cabinet__wrap 
            .cabinet__sidebar
                .cabinet__sidebar-wrap
                    ul.cabinet__sidebar-list 
                        li.cabinet__sidebar-item
                            a(href="/cabinet.html").cabinet__sidebar-link 
                                svg(viewBox='0 0 8 9' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M6.62171 5.776L5.372 5.52571C5.23943 5.49943 5.14286 5.38171 5.14286 5.24571V4.95886C5.22514 4.84457 5.30229 4.692 5.38229 4.53257C5.44343 4.412 5.53543 4.23029 5.57657 4.18743C5.81886 3.95029 6.07714 3.656 6.156 3.27257C6.22743 2.92514 6.156 2.74457 6.07314 2.60171C6.07314 2.32229 6.07314 1.81086 5.976 1.44229C5.96629 0.997143 5.88457 0.745714 5.67943 0.521714C5.53429 0.365143 5.32057 0.328571 5.14914 0.299429C5.08114 0.288 4.988 0.272 4.95543 0.254286C4.65886 0.0902857 4.35771 0.00914286 3.98914 0C3.23486 0.0285714 2.30914 0.506857 1.99943 1.36686C1.90514 1.628 1.91429 2.05657 1.92114 2.40114L1.91314 2.60171C1.84057 2.74457 1.76914 2.92514 1.84114 3.272C1.92 3.65714 2.17829 3.95086 2.41943 4.18686C2.46114 4.23029 2.55429 4.41314 2.616 4.53371C2.69714 4.69257 2.77486 4.84514 2.85714 4.95943V5.24571C2.85714 5.38171 2.76057 5.49943 2.62743 5.52571L1.37771 5.776C0.579429 5.93543 0 6.64229 0 7.45657V8C0 8.31486 0.256571 8.57143 0.571429 8.57143H7.42857C7.74343 8.57143 8 8.31486 8 8V7.45657C8 6.64229 7.42057 5.93543 6.62171 5.776Z')
                                | Profile
                        li.cabinet__sidebar-item
                            a(href="/cabinet2.html").cabinet__sidebar-link
                                svg(viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M6.64546 0.258093C6.55339 0.0988952 6.38197 0 6.19819 0H4.27734V2.2721H7.81032L6.64546 0.258093Z')
                                    path(d='M3.74053 0H1.80156C1.6174 0 1.446 0.0990747 1.35392 0.258631L0.193359 2.2721H3.74051V0H3.74053Z')
                                    path(d='M0 2.81055V8.55316C0 8.90225 0.284126 9.1862 0.63322 9.1862H7.36678C7.71587 9.1862 8 8.90225 8 8.55316V2.81055H0ZM5.22211 5.22551L3.82966 6.61796C3.77707 6.67055 3.70814 6.69694 3.63923 6.69694C3.57031 6.69694 3.50138 6.67055 3.44897 6.61796L2.79619 5.96534C2.6912 5.86035 2.6912 5.68983 2.79619 5.58465C2.90137 5.47948 3.07189 5.47948 3.17706 5.58465L3.63924 6.04701L4.84143 4.84482C4.94661 4.73965 5.11713 4.73965 5.22212 4.84482C5.3273 4.95 5.3273 5.12034 5.22211 5.22551Z')
                                | Order History
                        li.cabinet__sidebar-item
                            a(href="/cabinet3.html").cabinet__sidebar-link
                                svg(viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M8.41755 0.782904C7.94427 0.27805 7.29485 0 6.5888 0C6.06104 0 5.57771 0.1641 5.1522 0.487703C4.9375 0.651048 4.74296 0.85089 4.57143 1.08414C4.39997 0.850959 4.20536 0.651048 3.99058 0.487703C3.56515 0.1641 3.08182 0 2.55406 0C1.84801 0 1.19852 0.27805 0.725237 0.782904C0.257603 1.28186 0 1.9635 0 2.70236C0 3.46283 0.288156 4.15895 0.906808 4.89315C1.46024 5.54989 2.25565 6.21658 3.17676 6.98858C3.49128 7.25222 3.8478 7.55106 4.21798 7.86938C4.31578 7.95362 4.44127 8 4.57143 8C4.70152 8 4.82708 7.95362 4.92474 7.86952C5.29492 7.55113 5.65165 7.25215 5.96631 6.98837C6.88728 6.21651 7.68269 5.54989 8.23612 4.89308C8.85477 4.15895 9.14286 3.46283 9.14286 2.70229C9.14286 1.9635 8.88525 1.28186 8.41755 0.782904Z')
                                | your subscription
                        li.cabinet__sidebar-item
                            a(href="/cabinet4.html").cabinet__sidebar-link
                                svg(viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M4 0C1.79435 0 0 1.79435 0 4C0 5.24056 0.641768 6.6814 1.90767 8.28237C2.83403 9.45381 3.74702 10.2636 3.78533 10.2975C3.90718 10.4048 4.09114 10.4063 4.21467 10.2975C4.25298 10.2636 5.16597 9.45381 6.09233 8.28237C7.35823 6.6814 8 5.24056 8 4C8 1.79435 6.20565 0 4 0V0ZM2.21619 5.67577V4.28464C2.21619 4.19804 2.11461 4.15134 2.04887 4.20769L1.94071 4.30041C1.80469 4.41697 1.59996 4.40116 1.4834 4.26514C1.36685 4.12912 1.38266 3.92439 1.51867 3.80783L3.78898 1.86186C3.9104 1.75787 4.0896 1.75787 4.21102 1.86186L6.48133 3.80783C6.61734 3.92439 6.63315 4.12912 6.5166 4.26514C6.39931 4.40166 6.19474 4.4165 6.05929 4.30041L5.95113 4.20769C5.88539 4.15134 5.78381 4.19804 5.78381 4.28464V5.67577C5.78381 5.8549 5.63862 6.0001 5.45948 6.0001H2.54052C2.36138 6.0001 2.21619 5.8549 2.21619 5.67577Z')
                                    path(d='M2.86523 3.55486V5.25009C2.86523 5.30605 2.91062 5.35144 2.96659 5.35144H5.03419C5.09016 5.35144 5.13554 5.30605 5.13554 5.25009V3.55486C5.13554 3.52526 5.12261 3.49717 5.10015 3.47791L4.06635 2.5918C4.0284 2.55926 3.9724 2.55926 3.93443 2.5918L2.90063 3.47791C2.87817 3.49715 2.86523 3.52526 2.86523 3.55486Z')
                                | Address Book
                        li.cabinet__sidebar-item
                            a(href="/cabinet5.html").cabinet__sidebar-link.cabinet__sidebar-link--active
                                svg(viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M3.5 1.99976V1.49976H0.5C0.2245 1.49976 0 1.72426 0 1.99976V2.99976H3.6055C3.536 2.69426 3.5 2.36526 3.5 1.99976Z')
                                    path(d='M7.9795 3.99976C7.6385 4.52526 7.1185 4.97226 6.3735 5.40026C6.259 5.46576 6.13 5.49976 6 5.49976C5.87 5.49976 5.741 5.46576 5.628 5.40126C4.883 4.97226 4.363 4.52476 4.0215 3.99976H0V6.49976C0 6.77576 0.2245 6.99976 0.5 6.99976H7.5C7.776 6.99976 8 6.77576 8 6.49976V3.99976H7.9795ZM2.25 5.49976H1.25C1.112 5.49976 1 5.38776 1 5.24976C1 5.11176 1.112 4.99976 1.25 4.99976H2.25C2.388 4.99976 2.5 5.11176 2.5 5.24976C2.5 5.38776 2.388 5.49976 2.25 5.49976Z')
                                    path(d='M7.8485 0.77025L6.0985 0.02025C6.035 -0.00675 5.9645 -0.00675 5.901 0.02025L4.151 0.77025C4.0595 0.80925 4 0.89975 4 0.99975V1.99975C4 3.37525 4.5085 4.17925 5.8755 4.96675C5.914 4.98875 5.957 4.99975 6 4.99975C6.043 4.99975 6.086 4.98875 6.1245 4.96675C7.4915 4.18125 8 3.37725 8 1.99975V0.99975C8 0.89975 7.9405 0.80925 7.8485 0.77025ZM6.9455 1.90625L5.9455 3.15625C5.8975 3.21525 5.8255 3.24975 5.75 3.24975C5.7465 3.24975 5.7425 3.24975 5.7395 3.24975C5.66 3.24625 5.5865 3.20525 5.542 3.13875L5.042 2.38875C4.9655 2.27375 4.9965 2.11875 5.1115 2.04225C5.2255 1.96625 5.381 1.99625 5.458 2.11175L5.7685 2.57725L6.5545 1.59425C6.641 1.48675 6.7985 1.46975 6.906 1.55525C7.014 1.64075 7.031 1.79825 6.9455 1.90625Z')
                                | Payment Methods
                        li.cabinet__sidebar-item
                            a(href="/cabinet6.html").cabinet__sidebar-link
                                svg(viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M6.75 4.71875H1.25C0.56075 4.71875 0 5.2795 0 5.96875C0 6.658 0.56075 7.21875 1.25 7.21875H6.75C7.43925 7.21875 8 6.658 8 5.96875C8 5.2795 7.43925 4.71875 6.75 4.71875ZM1.65625 6.35938C1.44052 6.35938 1.26562 6.18448 1.26562 5.96875C1.26562 5.75302 1.44052 5.57812 1.65625 5.57812C1.87198 5.57812 2.04688 5.75302 2.04688 5.96875C2.04688 6.18448 1.87198 6.35938 1.65625 6.35938ZM3.21875 6.35938C3.00302 6.35938 2.82812 6.18448 2.82812 5.96875C2.82812 5.75302 3.00302 5.57812 3.21875 5.57812C3.43448 5.57812 3.60938 5.75302 3.60938 5.96875C3.60938 6.18448 3.43448 6.35938 3.21875 6.35938ZM4.78125 6.35938C4.56552 6.35938 4.39062 6.18448 4.39062 5.96875C4.39062 5.75302 4.56552 5.57812 4.78125 5.57812C4.99698 5.57812 5.17188 5.75302 5.17188 5.96875C5.17188 6.18448 4.99698 6.35938 4.78125 6.35938ZM6.34375 6.35938C6.12802 6.35938 5.95312 6.18448 5.95312 5.96875C5.95312 5.75302 6.12802 5.57812 6.34375 5.57812C6.55948 5.57812 6.73438 5.75302 6.73438 5.96875C6.73438 6.18448 6.55948 6.35938 6.34375 6.35938Z')
                                    path(d='M5.48438 1.59375H5.17188V1.17188C5.17188 0.525703 4.64617 0 4 0C3.35383 0 2.82812 0.525703 2.82812 1.17188V1.59375H2.51562C2.38619 1.59375 2.28125 1.69869 2.28125 1.82812V3.6875C2.28125 3.81694 2.38619 3.92188 2.51562 3.92188H5.48438C5.61381 3.92188 5.71875 3.81694 5.71875 3.6875V1.82812C5.71875 1.69869 5.61381 1.59375 5.48438 1.59375ZM4.23438 2.83013V2.92188C4.23438 3.05131 4.12944 3.15625 4 3.15625C3.87056 3.15625 3.76562 3.05131 3.76562 2.92188V2.83013C3.67466 2.79792 3.60938 2.71137 3.60938 2.60938C3.60938 2.47994 3.71431 2.375 3.84375 2.375H4.15625C4.28569 2.375 4.39062 2.47994 4.39062 2.60938C4.39062 2.71137 4.32534 2.79792 4.23438 2.83013ZM4.70312 1.59375H3.29688V1.17188C3.29688 0.784172 3.6123 0.46875 4 0.46875C4.3877 0.46875 4.70312 0.784172 4.70312 1.17188V1.59375Z')
                                | Password
                        li.cabinet__sidebar-item
                            a(href="check-in.html").cabinet__sidebar-link
                                svg(viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M4.99995 4.33327C4.81563 4.33327 4.66664 4.48262 4.66664 4.66658V5.99994C4.66664 6.1836 4.51729 6.33325 4.33327 6.33325H3.33328V1.3333C3.33328 1.04864 3.15195 0.794304 2.87931 0.699639L2.78061 0.66662H4.33327C4.51729 0.66662 4.66664 0.816276 4.66664 0.999991V1.99998C4.66664 2.18394 4.81563 2.33329 4.99995 2.33329C5.18428 2.33329 5.33326 2.18394 5.33326 1.99998V0.999991C5.33326 0.448665 4.8846 0 4.33327 0H0.749993C0.737298 0 0.726678 0.00567622 0.714349 0.00732415C0.698297 0.00598139 0.682977 0 0.666681 0C0.299008 0 0 0.298947 0 0.66662V6.66656C0 6.95123 0.181334 7.20556 0.453975 7.30022L2.46 7.96892C2.52799 7.98991 2.59562 7.99992 2.66666 7.99992C3.03433 7.99992 3.33328 7.70092 3.33328 7.33324V6.99993H4.33327C4.8846 6.99993 5.33326 6.55127 5.33326 5.99994V4.66658C5.33326 4.48262 5.18428 4.33327 4.99995 4.33327Z')
                                    path(d='M7.90298 3.09763L6.56962 1.76433C6.47434 1.66899 6.33097 1.6403 6.20634 1.69194C6.08201 1.74363 6.00066 1.86528 6.00066 1.99998V2.99997H4.66736C4.48334 2.99997 4.33398 3.14926 4.33398 3.33328C4.33398 3.5173 4.48334 3.66659 4.66736 3.66659H6.00066V4.66658C6.00066 4.80128 6.08201 4.92293 6.20634 4.97462C6.33097 5.02626 6.47434 4.99757 6.56962 4.9023L7.90298 3.56893C8.03329 3.43863 8.03329 3.22793 7.90298 3.09763Z')
                                | Log out
            .cabinet__body
                .content
                    h2 MY payment methods
                .pay-tabs
                    ul.accordion
                        li 
                            .radio__box.toggle
                                label.radio__label
                                    input.radio__input(type='radio' name='dfdg' checked)
                                    .radio__content
                                        span
                                    |	Credit card
                                ul.footer__bottom-list
                                    li.footer__bottom-item
                                        img(src="assets/images/png/pay-1.png" alt="")
                                    li.footer__bottom-item 
                                        img(src="assets/images/png/pay-2.png" alt="")
                                    li.footer__bottom-item  
                                        img(src="assets/images/png/pay-3.png" alt="")
                                    li.footer__bottom-item  
                                        img(src="assets/images/png/pay-4.png" alt="")
                            .inner
                                form.inputs
                                    .inputs__field-wrap.required
                                        label.inputs__label
                                            |CARD NUMBER
                                        input.inputs__field.number-pay(type='text' required)
                                    .inputs__field-row 
                                        .inputs__field-wrap.required.inputs__field-wrap--33
                                            label.inputs__label
                                                |COUNTRY
                                            .inputs__select-wrap
                                                span.arrow
                                                .placeholder
                                                select.inputs__select(name='select')
                                                    option(value='value1' disabled selected hidden)
                                                        |val
                                                    option(value='value1')
                                                        |val1
                                                    option(value='value2')
                                                        |val2
                                                    option(value='value3')
                                                        |val3
                                        .inputs__field-wrap.required.inputs__field-wrap--33
                                            label.inputs__label
                                                |EXPIRATION YEAR
                                            .inputs__select-wrap
                                                span.arrow
                                                .placeholder
                                                select.inputs__select(name='select')
                                                    option(value='value1' disabled selected hidden)
                                                        |val
                                                    option(value='value1')
                                                        |val1
                                                    option(value='value2')
                                                        |val2
                                                    option(value='value3')
                                                        |val3
                                        .inputs__field-wrap.required.inputs__field-wrap--33
                                            label.inputs__label
                                                |SECURITY CODE
                                            .radio__tooltip
                                                .tooltip
                                                    span.tooltip__title(attr="Каскадные таблицы стилей") ?
                                            input.inputs__field(type='text' required)
                        li 
                            .radio__box.toggle
                                label.radio__label
                                    input.radio__input(type='radio' name='dfdg' )
                                    .radio__content
                                        span
                                    img(src="assets/images/svg/icon-paypal-1.svg" alt="sss")
                            .inner 
                                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam repudiandae error tempora recusandae. Cumque, adipisci eligendi ducimus corrupti quis velit minima beatae excepturi voluptates praesentium sed. Praesentium qui unde ea ipsum facere. Enim molestias, voluptatem impedit harum ullam repellat itaque ea dolor, similique quod autem accusantium iusto eligendi. Nobis, fugiat.
                        li 
                            .radio__box.toggle
                                label.radio__label
                                    input.radio__input(type='radio' name='dfdg' )
                                    .radio__content
                                        span
                                    img(src="assets/images/png/icon-paypal-2.png" alt="sss")
                            .inner 
                                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam repudiandae error tempora recusandae. Cumque, adipisci eligendi ducimus corrupti quis velit minima beatae excepturi voluptates praesentium sed. Praesentium qui unde ea ipsum facere. Enim molestias, voluptatem impedit harum ullam repellat itaque ea dolor, similique quod autem accusantium iusto eligendi. Nobis, fugiat.
                .cabinet__body-btn
                    .btn Save