.call-now 
	.call-now__left
		img(src="assets/images/png/bg-call-now.png", alt="").background
		h6 
			|Want to learn more?
			span 
				|Call now and talk to one of our water experts.
	.call-now__right 
		.call-now__item 
			img(src="assets/images/svg/icon-call-1.svg", alt="")
			span 
				|1-800-753-5327
		.call-now__item 
			img(src="assets/images/svg/icon-call-2.svg", alt="")
			ul 
				li MON - Thu:
					span 8am - 6pm
				li FRI: 
					span 8am - 5pm
				li WKND & hols: 
					span Closed