section.catalog-test
    .center-wrap 
        .catalog-test__wrap 
            h2.catalog-test__title refrigerator water filters certified for NSf standarts
            .content 
                p Old refrigerator filters can cause your water quality to drop, resulting in smelly or contaminated drinking water.
        .catalog-test__bottom
            .catalog-test__bottom-wrap 
                .catalog-test__bottom-form
                    .catalog-test__bottom-title find your filter
                    form.inputs(action="")
                        .inputs__field-wrap
                            input(type="text" placeholder=" Enter filter number or Refrigerator model ").inputs__field
                            button.btn filter finder
                .catalog-test__bottom-right
                    a(href="catalog.html").catalog-test__bottom-link.btn See All Refrigerator Filters

