section.catalog
    +breadcrumb([{href:'index.html',text:'Home'},{text:'All Products'}])
    .center-wrap
        .catalog__wrap
            .catalog__sidebar
                .catalog__sidebar-title
                    img(src='assets/images/svg/filter.svg' alt='')
                    | FILTER
                .catalog__filter-list
                    .catalog__filter-row 
                        .catalog__filter Product type
                        .catalog__menu
                            .catalog__menu-box
                                .catalog__menu-item Whole House Filters
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                            .catalog__menu-box
                                .catalog__menu-item Refrigerator Filters
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                            .catalog__menu-box
                                .catalog__menu-item Replacement Filter Cartridges
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                    .catalog__filter-row
                        a(href="").catalog__filter.catalog__filter--all All Products
                    .catalog__filter-row 
                        .catalog__filter Parts and replacements
                        .catalog__menu
                            .catalog__menu-box
                                .catalog__menu-item Whole House Filters
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                            .catalog__menu-box
                                .catalog__menu-item Refrigerator Filters
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                            .catalog__menu-box
                                .catalog__menu-item Replacement Filter Cartridges
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                    .catalog__filter-row 
                        .catalog__filter Type
                        .catalog__menu
                            .catalog__menu-box
                                .catalog__menu-item Whole House Filters
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                            .catalog__menu-box
                                .catalog__menu-item Refrigerator Filters
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                            .catalog__menu-box
                                .catalog__menu-item Replacement Filter Cartridges
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                    .catalog__filter-row 
                        .catalog__filter Filter size
                        .catalog__menu
                            .catalog__menu-box
                                .catalog__menu-item Whole House Filters
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                            .catalog__menu-box
                                .catalog__menu-item Refrigerator Filters
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                            .catalog__menu-box
                                .catalog__menu-item Replacement Filter Cartridges
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                    .catalog__filter-row 
                        .catalog__filter Filter media
                        .catalog__menu
                            .catalog__menu-box
                                .catalog__menu-item Whole House Filters
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                            .catalog__menu-box
                                .catalog__menu-item Refrigerator Filters
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                            .catalog__menu-box
                                .catalog__menu-item Replacement Filter Cartridges
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                    .catalog__filter-row 
                        .catalog__filter Micron rate
                        .catalog__menu
                            .catalog__menu-box
                                .catalog__menu-item Whole House Filters
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                            .catalog__menu-box
                                .catalog__menu-item Refrigerator Filters
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5
                            .catalog__menu-box
                                .catalog__menu-item Replacement Filter Cartridges
                                .catalog__dropmenu
                                    form.inputs(action="")
                                    .catalog__dropmenu-item
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1" checked).inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |10 x 4.5
                                        .inputs__checkbox  
                                            label.inputs__checkbox-label
                                                input(type="checkbox" name="name1").inputs__checkbox-input
                                                span.inputs__checkbox-content
                                                span
                                                    |20 x 4.5

            .catalog__body
                .catalog__value
                    .catalog__value-title Selected filters
                    .catalog__value-item 
                        | Whole House filter
                        svg(width='5' height='4' viewBox='0 0 5 4' fill='none' xmlns='http://www.w3.org/2000/svg')
                            rect(width='5.12635' height='0.488224' transform='matrix(0.708321 0.705891 -0.708321 0.705891 0.345703 0)' fill='#313131')
                            rect(width='5.12635' height='0.488224' transform='matrix(0.708322 -0.70589 0.708322 0.70589 0.101074 3.65527)' fill='#313131')
                    .catalog__value-item
                        | 10 x 4.5
                        svg(width='5' height='4' viewBox='0 0 5 4' fill='none' xmlns='http://www.w3.org/2000/svg')
                            rect(width='5.12635' height='0.488224' transform='matrix(0.708321 0.705891 -0.708321 0.705891 0.345703 0)' fill='#313131')
                            rect(width='5.12635' height='0.488224' transform='matrix(0.708322 -0.70589 0.708322 0.70589 0.101074 3.65527)' fill='#313131')
                    a(href="").catalog__value-close clear all
                .catalog__row 
                    .catalog__result 1 - 7 of 7 Results
                    .catalog__sort 
                        .catalog__sort-title Sort By:
                        .catalog__select 
                            .select
                                .select__value price low to high
                                .select__variants
                                    label.select__variant.select__variant--active(for='')
                                        span price low to high
                                    label.select__variant(for='')
                                        span price low to high
                                    label.select__variant(for='')
                                        span price low to high
                .catalog__list 
                    .catalog__item
                        .catalog-card
                            a(href="product.html").catalog-card__img
                                .catalog-card__img-wrap.img-wrap 
                                    div
                                        img(src="assets/images/png/img-product-card.png" alt="")
                                span.catalog-card__sale Sale
                            .catalog-card__row
                                .catalog-card__rating
                                    .star-rating
                                        input#51-stars(type='radio' name='rating1' value='5')
                                        label.star(for='51-stars') ★
                                        input#41-stars(type='radio' name='rating1' value='4')
                                        label.star(for='41-stars') ★
                                        input#31-stars(type='radio' name='rating1' value='3' checked)
                                        label.star(for='31-stars') ★
                                        input#21-stars(type='radio' name='rating1' value='2')
                                        label.star(for='21-stars') ★
                                        input#11-star(type='radio' name='rating1' value='1')
                                        label.star(for='11-star') ★
                                .catalog-card__reviews
                                    svg(width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M14.4806 0H3.73579C1.67582 0 0 1.67582 0 3.73579V9.50569C0 11.1494 1.07918 12.581 2.64299 13.0393L4.44723 14.8436C4.54743 14.9437 4.68308 15 4.8247 15C4.96618 15 5.10196 14.9437 5.20203 14.8436L6.85715 13.1884H14.4806C16.5406 13.1884 18.2164 11.5126 18.2164 9.4526V3.73579C18.2164 1.67582 16.5406 0 14.4806 0ZM17.1491 9.4526C17.1491 10.924 15.952 12.121 14.4806 12.121H6.63617C6.49469 12.121 6.3589 12.1773 6.25884 12.2774L4.8247 13.7115L3.29731 12.1841C3.22879 12.1156 3.1429 12.067 3.04881 12.0436C1.88221 11.7533 1.06737 10.7097 1.06737 9.50569V3.73579C1.06737 2.26441 2.26441 1.06737 3.73579 1.06737H14.4806C15.952 1.06737 17.1491 2.26441 17.1491 3.73579V9.4526Z' fill='#0166B0')
                                        path(d='M12.4965 5.11719H5.71923C5.42445 5.11719 5.18555 5.35623 5.18555 5.65087C5.18555 5.94565 5.42445 6.18456 5.71923 6.18456H12.4965C12.7912 6.18456 13.0301 5.94565 13.0301 5.65087C13.0301 5.35623 12.7912 5.11719 12.4965 5.11719Z' fill='#0166B0')
                                        path(d='M12.4965 7.00391H5.71923C5.42445 7.00391 5.18555 7.24281 5.18555 7.53759C5.18555 7.83237 5.42445 8.07127 5.71923 8.07127H12.4965C12.7912 8.07127 13.0301 7.83237 13.0301 7.53759C13.0301 7.24281 12.7912 7.00391 12.4965 7.00391Z' fill='#0166B0')
                                    | (12)
                            a(href="product.html").product__title Amana ASD2522WRW01 Water Filter (OEM)
                            .radio__price
                                span.radio__price-new $99.99
                                span.radio__price-old $199.99
                                | MSRP
                            .product__descr
                                .product__descr-img.img-wrap 
                                    div
                                        img(src="assets/images/png/product__descr-img.png" alt="")
                                .content 
                                    p  NSF 401, 53, 42, 372 Certified*
                            .catalog-card__btn 
                                .btn add card
                    .catalog__item
                        .catalog-card
                            a(href="product.html").catalog-card__img
                                .catalog-card__img-wrap.img-wrap 
                                    div
                                        img(src="assets/images/png/img-product-card.png" alt="")
                                span.catalog-card__sale Sale
                            .catalog-card__row
                                .catalog-card__rating
                                    .star-rating
                                        input#52-stars(type='radio' name='rating2' value='5')
                                        label.star(for='52-stars') ★
                                        input#42-stars(type='radio' name='rating2' value='4')
                                        label.star(for='42-stars') ★
                                        input#32-stars(type='radio' name='rating2' value='3' checked)
                                        label.star(for='32-stars') ★
                                        input#22-stars(type='radio' name='rating2' value='2')
                                        label.star(for='22-stars') ★
                                        input#12-star(type='radio' name='rating2' value='1')
                                        label.star(for='12-star') ★
                                .catalog-card__reviews
                                    svg(width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M14.4806 0H3.73579C1.67582 0 0 1.67582 0 3.73579V9.50569C0 11.1494 1.07918 12.581 2.64299 13.0393L4.44723 14.8436C4.54743 14.9437 4.68308 15 4.8247 15C4.96618 15 5.10196 14.9437 5.20203 14.8436L6.85715 13.1884H14.4806C16.5406 13.1884 18.2164 11.5126 18.2164 9.4526V3.73579C18.2164 1.67582 16.5406 0 14.4806 0ZM17.1491 9.4526C17.1491 10.924 15.952 12.121 14.4806 12.121H6.63617C6.49469 12.121 6.3589 12.1773 6.25884 12.2774L4.8247 13.7115L3.29731 12.1841C3.22879 12.1156 3.1429 12.067 3.04881 12.0436C1.88221 11.7533 1.06737 10.7097 1.06737 9.50569V3.73579C1.06737 2.26441 2.26441 1.06737 3.73579 1.06737H14.4806C15.952 1.06737 17.1491 2.26441 17.1491 3.73579V9.4526Z' fill='#0166B0')
                                        path(d='M12.4965 5.11719H5.71923C5.42445 5.11719 5.18555 5.35623 5.18555 5.65087C5.18555 5.94565 5.42445 6.18456 5.71923 6.18456H12.4965C12.7912 6.18456 13.0301 5.94565 13.0301 5.65087C13.0301 5.35623 12.7912 5.11719 12.4965 5.11719Z' fill='#0166B0')
                                        path(d='M12.4965 7.00391H5.71923C5.42445 7.00391 5.18555 7.24281 5.18555 7.53759C5.18555 7.83237 5.42445 8.07127 5.71923 8.07127H12.4965C12.7912 8.07127 13.0301 7.83237 13.0301 7.53759C13.0301 7.24281 12.7912 7.00391 12.4965 7.00391Z' fill='#0166B0')
                                    | (12)
                            a(href="product.html").product__title Amana ASD2522WRW01 Water Filter (OEM)
                            .radio__price
                                span.radio__price-new $99.99
                                span.radio__price-old $199.99
                                | MSRP
                            .product__descr
                                .product__descr-img.img-wrap 
                                    div
                                        img(src="assets/images/png/product__descr-img.png" alt="")
                                .content 
                                    p  NSF 401, 53, 42, 372 Certified*
                            .catalog-card__btn 
                                .btn add card
                    .catalog__item
                        .catalog-card
                            a(href="product.html").catalog-card__img
                                .catalog-card__img-wrap.img-wrap 
                                    div
                                        img(src="assets/images/png/img-product-card.png" alt="")
                                span.catalog-card__sale Sale
                            .catalog-card__row
                                .catalog-card__rating
                                    .star-rating
                                        input#53-stars(type='radio' name='rating3' value='5')
                                        label.star(for='53-stars') ★
                                        input#43-stars(type='radio' name='rating3' value='4')
                                        label.star(for='43-stars') ★
                                        input#33-stars(type='radio' name='rating3' value='3' checked)
                                        label.star(for='33-stars') ★
                                        input#23-stars(type='radio' name='rating3' value='2')
                                        label.star(for='23-stars') ★
                                        input#13-star(type='radio' name='rating3' value='1')
                                        label.star(for='13-star') ★
                                .catalog-card__reviews
                                    svg(width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M14.4806 0H3.73579C1.67582 0 0 1.67582 0 3.73579V9.50569C0 11.1494 1.07918 12.581 2.64299 13.0393L4.44723 14.8436C4.54743 14.9437 4.68308 15 4.8247 15C4.96618 15 5.10196 14.9437 5.20203 14.8436L6.85715 13.1884H14.4806C16.5406 13.1884 18.2164 11.5126 18.2164 9.4526V3.73579C18.2164 1.67582 16.5406 0 14.4806 0ZM17.1491 9.4526C17.1491 10.924 15.952 12.121 14.4806 12.121H6.63617C6.49469 12.121 6.3589 12.1773 6.25884 12.2774L4.8247 13.7115L3.29731 12.1841C3.22879 12.1156 3.1429 12.067 3.04881 12.0436C1.88221 11.7533 1.06737 10.7097 1.06737 9.50569V3.73579C1.06737 2.26441 2.26441 1.06737 3.73579 1.06737H14.4806C15.952 1.06737 17.1491 2.26441 17.1491 3.73579V9.4526Z' fill='#0166B0')
                                        path(d='M12.4965 5.11719H5.71923C5.42445 5.11719 5.18555 5.35623 5.18555 5.65087C5.18555 5.94565 5.42445 6.18456 5.71923 6.18456H12.4965C12.7912 6.18456 13.0301 5.94565 13.0301 5.65087C13.0301 5.35623 12.7912 5.11719 12.4965 5.11719Z' fill='#0166B0')
                                        path(d='M12.4965 7.00391H5.71923C5.42445 7.00391 5.18555 7.24281 5.18555 7.53759C5.18555 7.83237 5.42445 8.07127 5.71923 8.07127H12.4965C12.7912 8.07127 13.0301 7.83237 13.0301 7.53759C13.0301 7.24281 12.7912 7.00391 12.4965 7.00391Z' fill='#0166B0')
                                    | (12)
                            a(href="product.html").product__title Amana ASD2522WRW01 Water Filter (OEM)
                            .radio__price
                                span.radio__price-new $99.99
                                span.radio__price-old $199.99
                                | MSRP
                            .product__descr
                                .product__descr-img.img-wrap 
                                    div
                                        img(src="assets/images/png/product__descr-img.png" alt="")
                                .content 
                                    p  NSF 401, 53, 42, 372 Certified*
                            .catalog-card__btn 
                                .btn add card
                    .catalog__item
                        .catalog-card
                            a(href="product.html").catalog-card__img
                                .catalog-card__img-wrap.img-wrap 
                                    div
                                        img(src="assets/images/png/img-product-card.png" alt="")
                                span.catalog-card__sale Sale
                            .catalog-card__row
                                .catalog-card__rating
                                    .star-rating
                                        input#54-stars(type='radio' name='rating4' value='5')
                                        label.star(for='54-stars') ★
                                        input#44-stars(type='radio' name='rating4' value='4')
                                        label.star(for='44-stars') ★
                                        input#34-stars(type='radio' name='rating4' value='3' checked)
                                        label.star(for='34-stars') ★
                                        input#24-stars(type='radio' name='rating4' value='2')
                                        label.star(for='24-stars') ★
                                        input#14-star(type='radio' name='rating4' value='1')
                                        label.star(for='14-star') ★
                                .catalog-card__reviews
                                    svg(width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M14.4806 0H3.73579C1.67582 0 0 1.67582 0 3.73579V9.50569C0 11.1494 1.07918 12.581 2.64299 13.0393L4.44723 14.8436C4.54743 14.9437 4.68308 15 4.8247 15C4.96618 15 5.10196 14.9437 5.20203 14.8436L6.85715 13.1884H14.4806C16.5406 13.1884 18.2164 11.5126 18.2164 9.4526V3.73579C18.2164 1.67582 16.5406 0 14.4806 0ZM17.1491 9.4526C17.1491 10.924 15.952 12.121 14.4806 12.121H6.63617C6.49469 12.121 6.3589 12.1773 6.25884 12.2774L4.8247 13.7115L3.29731 12.1841C3.22879 12.1156 3.1429 12.067 3.04881 12.0436C1.88221 11.7533 1.06737 10.7097 1.06737 9.50569V3.73579C1.06737 2.26441 2.26441 1.06737 3.73579 1.06737H14.4806C15.952 1.06737 17.1491 2.26441 17.1491 3.73579V9.4526Z' fill='#0166B0')
                                        path(d='M12.4965 5.11719H5.71923C5.42445 5.11719 5.18555 5.35623 5.18555 5.65087C5.18555 5.94565 5.42445 6.18456 5.71923 6.18456H12.4965C12.7912 6.18456 13.0301 5.94565 13.0301 5.65087C13.0301 5.35623 12.7912 5.11719 12.4965 5.11719Z' fill='#0166B0')
                                        path(d='M12.4965 7.00391H5.71923C5.42445 7.00391 5.18555 7.24281 5.18555 7.53759C5.18555 7.83237 5.42445 8.07127 5.71923 8.07127H12.4965C12.7912 8.07127 13.0301 7.83237 13.0301 7.53759C13.0301 7.24281 12.7912 7.00391 12.4965 7.00391Z' fill='#0166B0')
                                    | (12)
                            a(href="product.html").product__title Amana ASD2522WRW01 Water Filter (OEM)
                            .radio__price
                                span.radio__price-new $99.99
                                span.radio__price-old $199.99
                                | MSRP
                            .product__descr
                                .product__descr-img.img-wrap 
                                    div
                                        img(src="assets/images/png/product__descr-img.png" alt="")
                                .content 
                                    p  NSF 401, 53, 42, 372 Certified*
                            .catalog-card__btn 
                                .btn add card
                    .catalog__item
                        .catalog-card
                            a(href="product.html").catalog-card__img
                                .catalog-card__img-wrap.img-wrap 
                                    div
                                        img(src="assets/images/png/img-product-card.png" alt="")
                                span.catalog-card__sale Sale
                            .catalog-card__row
                                .catalog-card__rating
                                    .star-rating
                                        input#55-stars(type='radio' name='rating5' value='5')
                                        label.star(for='55-stars') ★
                                        input#45-stars(type='radio' name='rating5' value='4')
                                        label.star(for='45-stars') ★
                                        input#35-stars(type='radio' name='rating5' value='3' checked)
                                        label.star(for='35-stars') ★
                                        input#25-stars(type='radio' name='rating5' value='2')
                                        label.star(for='25-stars') ★
                                        input#15-star(type='radio' name='rating5' value='1')
                                        label.star(for='15-star') ★
                                .catalog-card__reviews
                                    svg(width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M14.4806 0H3.73579C1.67582 0 0 1.67582 0 3.73579V9.50569C0 11.1494 1.07918 12.581 2.64299 13.0393L4.44723 14.8436C4.54743 14.9437 4.68308 15 4.8247 15C4.96618 15 5.10196 14.9437 5.20203 14.8436L6.85715 13.1884H14.4806C16.5406 13.1884 18.2164 11.5126 18.2164 9.4526V3.73579C18.2164 1.67582 16.5406 0 14.4806 0ZM17.1491 9.4526C17.1491 10.924 15.952 12.121 14.4806 12.121H6.63617C6.49469 12.121 6.3589 12.1773 6.25884 12.2774L4.8247 13.7115L3.29731 12.1841C3.22879 12.1156 3.1429 12.067 3.04881 12.0436C1.88221 11.7533 1.06737 10.7097 1.06737 9.50569V3.73579C1.06737 2.26441 2.26441 1.06737 3.73579 1.06737H14.4806C15.952 1.06737 17.1491 2.26441 17.1491 3.73579V9.4526Z' fill='#0166B0')
                                        path(d='M12.4965 5.11719H5.71923C5.42445 5.11719 5.18555 5.35623 5.18555 5.65087C5.18555 5.94565 5.42445 6.18456 5.71923 6.18456H12.4965C12.7912 6.18456 13.0301 5.94565 13.0301 5.65087C13.0301 5.35623 12.7912 5.11719 12.4965 5.11719Z' fill='#0166B0')
                                        path(d='M12.4965 7.00391H5.71923C5.42445 7.00391 5.18555 7.24281 5.18555 7.53759C5.18555 7.83237 5.42445 8.07127 5.71923 8.07127H12.4965C12.7912 8.07127 13.0301 7.83237 13.0301 7.53759C13.0301 7.24281 12.7912 7.00391 12.4965 7.00391Z' fill='#0166B0')
                                    | (12)
                            a(href="product.html").product__title Amana ASD2522WRW01 Water Filter (OEM)
                            .radio__price
                                span.radio__price-new $99.99
                                span.radio__price-old $199.99
                                | MSRP
                            .product__descr
                                .product__descr-img.img-wrap 
                                    div
                                        img(src="assets/images/png/product__descr-img.png" alt="")
                                .content 
                                    p  NSF 401, 53, 42, 372 Certified*
                            .catalog-card__btn 
                                .btn add card
                    .catalog__item
                        .catalog-card
                            a(href="product.html").catalog-card__img
                                .catalog-card__img-wrap.img-wrap 
                                    div
                                        img(src="assets/images/png/img-product-card.png" alt="")
                                span.catalog-card__sale Sale
                            .catalog-card__row
                                .catalog-card__rating
                                    .star-rating
                                        input#56-stars(type='radio' name='rating6' value='5')
                                        label.star(for='56-stars') ★
                                        input#46-stars(type='radio' name='rating6' value='4')
                                        label.star(for='46-stars') ★
                                        input#36-stars(type='radio' name='rating6' value='3' checked)
                                        label.star(for='36-stars') ★
                                        input#26-stars(type='radio' name='rating6' value='2')
                                        label.star(for='26-stars') ★
                                        input#16-star(type='radio' name='rating6' value='1')
                                        label.star(for='16-star') ★
                                .catalog-card__reviews
                                    svg(width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M14.4806 0H3.73579C1.67582 0 0 1.67582 0 3.73579V9.50569C0 11.1494 1.07918 12.581 2.64299 13.0393L4.44723 14.8436C4.54743 14.9437 4.68308 15 4.8247 15C4.96618 15 5.10196 14.9437 5.20203 14.8436L6.85715 13.1884H14.4806C16.5406 13.1884 18.2164 11.5126 18.2164 9.4526V3.73579C18.2164 1.67582 16.5406 0 14.4806 0ZM17.1491 9.4526C17.1491 10.924 15.952 12.121 14.4806 12.121H6.63617C6.49469 12.121 6.3589 12.1773 6.25884 12.2774L4.8247 13.7115L3.29731 12.1841C3.22879 12.1156 3.1429 12.067 3.04881 12.0436C1.88221 11.7533 1.06737 10.7097 1.06737 9.50569V3.73579C1.06737 2.26441 2.26441 1.06737 3.73579 1.06737H14.4806C15.952 1.06737 17.1491 2.26441 17.1491 3.73579V9.4526Z' fill='#0166B0')
                                        path(d='M12.4965 5.11719H5.71923C5.42445 5.11719 5.18555 5.35623 5.18555 5.65087C5.18555 5.94565 5.42445 6.18456 5.71923 6.18456H12.4965C12.7912 6.18456 13.0301 5.94565 13.0301 5.65087C13.0301 5.35623 12.7912 5.11719 12.4965 5.11719Z' fill='#0166B0')
                                        path(d='M12.4965 7.00391H5.71923C5.42445 7.00391 5.18555 7.24281 5.18555 7.53759C5.18555 7.83237 5.42445 8.07127 5.71923 8.07127H12.4965C12.7912 8.07127 13.0301 7.83237 13.0301 7.53759C13.0301 7.24281 12.7912 7.00391 12.4965 7.00391Z' fill='#0166B0')
                                    | (12)
                            a(href="product.html").product__title Amana ASD2522WRW01 Water Filter (OEM)
                            .radio__price
                                span.radio__price-new $99.99
                                span.radio__price-old $199.99
                                | MSRP
                            .product__descr
                                .product__descr-img.img-wrap 
                                    div
                                        img(src="assets/images/png/product__descr-img.png" alt="")
                                .content 
                                    p  NSF 401, 53, 42, 372 Certified*
                            .catalog-card__btn 
                                .btn add card
                    .catalog__item.catalog__item--hide
                    .catalog__item.catalog__item--hide
                .catalog__pagination
                    .pagination
                        .pagination__prev.active
                            svg(viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M0.646446 4.35355C0.451184 4.15829 0.451184 3.84171 0.646446 3.64645L3.82843 0.464466C4.02369 0.269204 4.34027 0.269204 4.53553 0.464466C4.7308 0.659728 4.7308 0.976311 4.53553 1.17157L1.70711 4L4.53553 6.82843C4.7308 7.02369 4.7308 7.34027 4.53553 7.53553C4.34027 7.7308 4.02369 7.7308 3.82843 7.53553L0.646446 4.35355ZM14 4.5H1V3.5H14V4.5Z')
                        ul.pagination__list
                            li.pagination__item
                                a(href="").pagination__link.pagination__link--active 1
                            li.pagination__item
                                a(href="").pagination__link 2
                            li.pagination__item
                                a(href="").pagination__link 3
                            li.pagination__item
                                a(href="").pagination__link.pagination__link--dots ...
                            li.pagination__item
                                a(href="").pagination__link 12
                        .pagination__next
                            svg(viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M13.3536 4.35355C13.5488 4.15829 13.5488 3.84171 13.3536 3.64645L10.1716 0.464466C9.97631 0.269204 9.65973 0.269204 9.46447 0.464466C9.2692 0.659728 9.2692 0.976311 9.46447 1.17157L12.2929 4L9.46447 6.82843C9.2692 7.02369 9.2692 7.34027 9.46447 7.53553C9.65973 7.7308 9.97631 7.7308 10.1716 7.53553L13.3536 4.35355ZM0 4.5H13V3.5H0V4.5Z')

