section.check-in
    .center-wrap
        .check-in__wrap
            .content
                h2 CREATE NEW CUSTOMER ACCOUNT
            form.inputs(action="#" autocomplete="off")
                .inputs__field-row
                    .inputs__field-wrap.inputs__field-wrap--50.required
                        label.inputs__label(for="") 
                            |FIRST NAME
                        input.inputs__field(type="text" required)
                    .inputs__field-wrap.inputs__field-wrap--50.required
                        label.inputs__label(for="") 
                            |EMAIL
                        input.inputs__field(type='email' required)
                .inputs__field-row
                    .inputs__field-wrap.inputs__field-wrap--50.required
                        label.inputs__label(for="") 
                            |LAST NAME
                        input.inputs__field(type="text" required)
                    .inputs__field-wrap.inputs__field-wrap--50.required
                        label.inputs__label(for="") 
                            |PASSWORD
                        input.inputs__field(type='number' required)
                .inputs__field-row
                    .inputs__field-wrap.inputs__field-wrap--50.required
                        label.inputs__label(for="") 
                            |PHONE
                        input.inputs__field(type='tel' id='tel' name='tel' autocomplete='off' required='')
                    .inputs__field-wrap.inputs__field-wrap--50.required
                        label.inputs__label(for="") 
                            |CONFIRM PASSWORD
                        input.inputs__field(type='number' required)
                .inputs__field-row
                    .inputs__checkbox  
                        label.inputs__checkbox-label
                            input(type="checkbox" name="name1" checked required).inputs__checkbox-input
                            span.inputs__checkbox-content
                            span
                                |Sign Up for Newsletter
                .inputs__field-row.inputs__field-row--btn
                    button.btn(type="submit") create account 