.find 
	h2.simple-title
		|Find the Water for Life® 
	span.simple-sub_title
		|option that's right for you
	.toogles.toogles--fade
		.center-wrap
			.find__list
				.toogles__item-title.find__list-title.toogles__item-title--active(data-toogles='1')
						| I am shopping for a filtration system
				.toogles__item-title.find__list-title(data-toogles='2')
						| I already have an Aquasana system
			.toogles__item.toogles__item--active(data-toogles='1')
				.toogles__item-content(style='display: block;')
					div 
						.product-info__body
							.product-info__wrap
								.product-info__img
									.product-info__img-wrap--100.img-wrap
										div  
											img(src='assets/images/jpg/img-fin-1.jpg' alt='')
								.product-info__content
									.product-info__content-wrap 
										.content
											h6 Under Sink Filtration
											p Our award-winning under sink filters remove up to 99% of 88 contaminants to instantly transform ordinary tap water into clean, healthy water.
									a(href="#" target="_blank").btn
											|Shop Under Sink
							.product-info__wrap
								.product-info__img
									.product-info__img-wrap--100.img-wrap
										div  
											img(src='assets/images/jpg/img-fin-2.jpg' alt='' )
								.product-info__content
									.product-info__content-wrap 
										.content
											h6 Countertop Filtration
											p Our award winning countertop filters instantly reduce 77 contaminants – 15x more than the leading pitcher filter.
									a(href="#" target="_blank").btn
											|Shop Countertop
							.product-info__wrap
									.product-info__img
										.product-info__img-wrap--100.img-wrap  
											div
												img(src='assets/images/jpg/img-fin-3.jpg' alt='')
									.product-info__content
										.product-info__content-wrap 
											.content
												h6 Countertop Filtration
												p Our award winning countertop filters instantly reduce 77 contaminants – 15x more than the leading pitcher filter.
										a(href="#" target="_blank").btn
											|Shop shower
			.toogles__item(data-toogles='2')
				.toogles__item-content
					div 
						p WHOssLE HOUSE FILTERS