footer.footer
    .connection
        .center-wrap
            .connection__wrap
                .connection__left 
                    .call-now__item 
                        img(src="assets/images/svg/icon-footer-1.svg", alt="")
                        span 
                            |1-800-753-5327
                    .call-now__item 
                        img(src="assets/images/svg/icon-footer-2.svg", alt="")
                        ul 
                            li MON - Thu:
                                span 8am - 6pm
                            li FRI: 
                                span 8am - 5pm
                            li WKND & hols: 
                                span Closed
                .connection__right
    .center-wrap
        .footer__wrap 