header.header
  .center-wrap
    .header__wrap.anchors
      .header__burger.desktop--hide
        div
        div
        div
      a(href="index.html").header__logo
        img(src='assets/images/svg/logo.svg' alt='')
      nav.header__nav.mobile--hide
        ul.header__nav-list
          li.header__nav-item
            a.header__nav-link(href='') Whole House System
          li.header__nav-item
            a.header__nav-link(href="") Refrigerator Filters
          li.header__nav-item
            a.header__nav-link(href="") Replacement Filter Cartridges
          li.header__nav-item
            a.header__nav-link(href="") All Products
      .header__icons
        .header__icons-item
          img(src='assets/images/svg/tel.svg' alt='')
        .header__icons-item
          img(src='assets/images/svg/search.svg' alt='')
        .header__icons-item
          img(src='assets/images/svg/profile.svg' alt='')
        .header__icons-item 
          img(src='assets/images/svg/bask.svg' alt='')
          .header__icons-value 
            span 2
