.how-work
  .center-wrap 
    h2.simple-title
      |How it Works
    .how-work__wrapper 
      .how-work__item
        .img-wrap 
          div 
            img(src="assets/images/png/img-how-work-1.png", alt="")
        .content 
          h4
            |STEP 1
          p 
            |Select Add to Cart with Water for Life® when purchasing your system or filter replacement.
      .how-work__item
        .img-wrap 
          div 
            img(src="assets/images/png/img-how-work-2.png", alt="")
        .content 
          h4
            |STEP 2
          p 
            |Sign In or Create an Account at checkout to fill out delivery and payment info.
      .how-work__item
        .img-wrap 
          div 
            img(src="assets/images/png/img-how-work-3.png", alt="")
        .content 
          h4
            |STEP 3
          p 
            |That’s it! Your filter replacement will be delivered on schedule. You won’t be charged until the delivery is sent.

    include ./call-now