section.main-screen#main-screen
    .center-wrap 
        .main-screen__wrap 
            .main-screen__content
                h1.main-screen__title Meet clean, healthy water
                .content
                    p Award-winning water filtration, expertly engineered to reduce the maximum amount of contaminants.
                .main-screen__btn 
                    .btn shop wholehouse
                    .btn.btn--empty shop undersink
            .main-screen__slider 
                .main-slider 
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .main-slider__img.img-wrap 
                                    div
                                        img(src="assets/images/png/main-slider__img.png" alt="")
                            .swiper-slide
                                .main-slider__img.img-wrap 
                                    div
                                        img(src="assets/images/png/main-slider__img.png" alt="")
                            .swiper-slide
                                .main-slider__img.img-wrap 
                                    div
                                        img(src="assets/images/png/main-slider__img.png" alt="")
                    .swiper-pagination
    //- +breadcrumb([{href:'index.html',text:'Home'},{href:'index.html',text:'Water for Life®'}])
    //- include ./main-block
    //- +advantages([{src:'assets/images/svg/advantages-icon1.svg',title:'Certification',text:'NSF, WQA, IAPMO'},{src:'assets/images/svg/advantages-icon2.svg',title:'FREE SHIPPING',text:'Free shipping with no order minimum required'},{src:'assets/images/svg/advantages-icon3.svg',title:'Exclusive Offers',text:'Subscribe and save big'},{src:'assets/images/svg/advantages-icon4.svg',title:'30-day Return',text:'No-worries guarantee'}])
    //- include ../includes/product-cards
    //- +advantages([{src:'assets/images/svg/advantages-icon1.svg',title:'Certification',text:'NSF, WQA, IAPMO'},{src:'assets/images/svg/advantages-icon2.svg',title:'FREE SHIPPING',text:'Free shipping with no order minimum required'},{src:'assets/images/svg/advantages-icon3.svg',title:'Exclusive Offers',text:'Subscribe and save big'},{src:'assets/images/svg/advantages-icon4.svg',title:'30-day Return',text:'No-worries guarantee'}])