.main-block 
	.main-block__left
		.content 
			h4 
				|Replace your filters on time, without worry — auto <br/> delivered to you, for less.
			p 
				|Water for Life® program makes it easy to replace filters on time and without worry. Whether you're already an Aquasana customer or buying your first filtration system, Water for Life® ensures you'll never have to worry about keeping up with filter expiration dates.
	.main-block__right
		.img-wrap 
			div 
				img(src="assets/images/jpg/img-main-block.jpg", alt="")