section.nothing-hide
    .nothing-hide__wrap
        .center-wrap 
            h2.simple-title NOTHING TI HIDE
            .nothing-hide__text OUR PROMISES
    +advantages([{src:'assets/images/svg/advantages-icon1.svg',title:'TESTED & CERTIFIED',text:'Rigorous third party testing certifies our contaminant-reducing power'},
        {src:'assets/images/svg/advantages-icon2.svg',title:'FREE SHIPPING',text:'Free shipping with no order minimum required'},
        {src:'assets/images/svg/advantages-icon5.svg',title:'MONEY BACK GUARANTEE',text:'Subscribe and save big'},
        {src:'assets/images/svg/advantages-icon6.svg',title:'5 STAR REVIEWS',text:'75 000+ humans are',link:'here for it',href:'#'}])