#popup-product.popup-wrap
    .popup
        .popup__inner
            .popup__top
                .content
                    h2 edit product
                .popup__close(onclick="close_popup('popup-product')")
                    div
                    div
            .popup__body
                .step__cards-item
                    .step__cards-left 
                        .img-wrap 
                            div 
                                img(src="assets/images/png/product__img--small1.png" alt="")
                        .step__cards-param
                            .content 
                                h3
                                    |Arrowpure UKF8001 Refrigerator Water Filter Replacement Cartridge
                            .step__cards-right
                                .price.price-for-one
                                    |2 Filter — <span>$19.99</span>
                                .price.price-all 
                                    |Item Total:
                                    <span>$19.99</span>
                            .amount
                                span.amount__minus
                                    svg(viewBox='0 0 13 2' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        rect(y='0.458336' width='13' height='1.08333')
                                input.amount__input(type='text' value='1')
                                span.amount__plus
                                    svg(viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        rect(y='5.49961' width='12' height='1')
                                        rect(x='5.5' y='12' width='12' height='1' transform='rotate(-90 5.5 12)')
                .popup__btn 
                    .btn Update
#popup-delivery.popup-wrap
    .popup
        .popup__inner
            .popup__top
                .content
                    h2 delivery every
                .popup__close(onclick="close_popup('popup-delivery')")
                    div
                    div
            .popup__body
                .content
                    h2 periodicity
                form.inputs(action="") 
                    .inputs__field-row
                        .inputs__field-wrap.required.inputs__field-wrap--50
                            input.inputs__field(type='text' required placeholder='enter number')
                        .inputs__field-wrap.required.inputs__field-wrap--50
                            .inputs__select-wrap
                                span.arrow
                                .placeholder
                                    |Weeks
                                select.inputs__select(name='select')
                                    option(value='value1' disabled selected hidden)
                                        |val
                                    option(value='value1')
                                        |USA
                                    option(value='value2')
                                        |EUR
                                    option(value='value3')
                                        |UAH
                .popup__btn 
                    .btn Update
#popup-loader.popup-wrap
    .popup.popup--line
        .popup__inner.popup__inner--390
            .popup__body
                .img-wrap 
                    div
                        img(src="assets/images/gif/loader.gif" alt="")
                .content
                    h2 periodicity
                    p the order is being processed
#popup-account.popup-wrap
    .popup
        .popup__inner.popup__inner--335
            .popup__top
                .content
                    h2 Welcome, Marina!
                .popup__close(onclick="close_popup('popup-account')")
                    div
                    div
            .popup__body
                .popup__body-row
                    svg(viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M11.588 10.108L9.401 9.67C9.169 9.624 9 9.418 9 9.18V8.678C9.144 8.478 9.279 8.211 9.419 7.932C9.526 7.721 9.687 7.403 9.759 7.328C10.183 6.913 10.635 6.398 10.773 5.727C10.898 5.119 10.773 4.803 10.628 4.553C10.628 4.064 10.628 3.169 10.458 2.524C10.441 1.745 10.298 1.305 9.939 0.913C9.685 0.639 9.311 0.575 9.011 0.524C8.892 0.504 8.729 0.476 8.672 0.445C8.153 0.158 7.626 0.016 6.981 0C5.661 0.05 4.041 0.887 3.499 2.392C3.334 2.849 3.35 3.599 3.362 4.202L3.348 4.553C3.221 4.803 3.096 5.119 3.222 5.726C3.36 6.4 3.812 6.914 4.234 7.327C4.307 7.403 4.47 7.723 4.578 7.934C4.72 8.212 4.856 8.479 5 8.679V9.18C5 9.418 4.831 9.624 4.598 9.67L2.411 10.108C1.014 10.387 0 11.624 0 13.049V14C0 14.551 0.449 15 1 15H13C13.551 15 14 14.551 14 14V13.049C14 11.624 12.986 10.387 11.588 10.108Z')
                    .content
                        h2 periodicity