section.product
    .center-wrap
        .product__wrap 
            .product__left
                .product-slider
                    .product-slider__mini
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .product-slider__mini-img.img-wrap
                                        div
                                            img(src="assets/images/png/product__img--small1.png" alt="")
                                .swiper-slide
                                    .product-slider__mini-img.img-wrap
                                        div
                                            img(src="assets/images/png/product__img--small2.png" alt="")
                                .swiper-slide
                                    .product-slider__mini-img.img-wrap
                                        div
                                            img(src="assets/images/png/product__img--small3.png" alt="")
                                .swiper-slide
                                    a.video.fancybox(data-fancybox-type='iframe' href='https://www.youtube.com/embed/YRTrS7CJ3uM')
                                        .video__play.video__play--static
                                            svg(viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M9 7L-5.70966e-07 13.0622L-4.09935e-08 0.937822L9 7Z' fill='white')
                                            iframe.video__video(width='100%' height='100%' data-src='https://www.youtube.com/embed/YRTrS7CJ3uM?autoplay=1&mute=1&showinfo=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                                    .product-slider__mini-img.img-wrap
                                        div
                                            img(src="assets/images/png/product__img--small4.png" alt="")
                                .swiper-slide
                                    .product-slider__mini-img.img-wrap
                                        div
                                            img(src="assets/images/png/product__img--small1.png" alt="")
                    .product-slider__big
                        .swiper-button-prev
                            svg(viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M0.332056 8.43941C-0.0584679 8.04888 -0.0584679 7.41572 0.332056 7.02519L6.69602 0.661232C7.08654 0.270708 7.71971 0.270708 8.11023 0.661232C8.50076 1.05176 8.50076 1.68492 8.11023 2.07545L2.45338 7.7323L8.11023 13.3892C8.50076 13.7797 8.50076 14.4128 8.11023 14.8034C7.71971 15.1939 7.08654 15.1939 6.69602 14.8034L0.332056 8.43941ZM17.3384 8.7323H1.03916V6.7323H17.3384V8.7323Z')
                        .swiper-button-next
                            svg(viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M17.0459 8.43941C17.4364 8.04888 17.4364 7.41572 17.0459 7.02519L10.6819 0.661232C10.2914 0.270708 9.65822 0.270708 9.2677 0.661232C8.87717 1.05176 8.87717 1.68492 9.2677 2.07545L14.9246 7.7323L9.2677 13.3892C8.87717 13.7797 8.87717 14.4128 9.2677 14.8034C9.65822 15.1939 10.2914 15.1939 10.6819 14.8034L17.0459 8.43941ZM0.0395508 8.7323H16.3388V6.7323H0.0395508V8.7323Z')
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .product-slider__big-item
                                        .product-slider__big-zoom
                                            svg(viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12.6874 9.00661H9.96872V6.37831C9.96872 6.13651 9.76572 5.94026 9.51559 5.94026C9.26547 5.94026 9.06247 6.13651 9.06247 6.37831V9.00661H6.34375C6.09362 9.00661 5.89062 9.20286 5.89062 9.44466C5.89062 9.68647 6.09362 9.88271 6.34375 9.88271H9.06247V12.511C9.06247 12.7528 9.26547 12.9491 9.51559 12.9491C9.76572 12.9491 9.96872 12.7528 9.96872 12.511V9.88271H12.6874C12.9376 9.88271 13.1406 9.68647 13.1406 9.44466C13.1406 9.20286 12.9376 9.00661 12.6874 9.00661Z' fill='white')
                                                path(d='M22.9827 22.7058L16.2498 15.9366C17.9671 14.2715 19.0311 11.9762 19.0311 9.44466C19.0311 4.37204 14.7627 0.245605 9.51553 0.245605C4.2684 0.245605 0 4.37204 0 9.44466C0 14.5173 4.2684 18.6437 9.51553 18.6437C11.8187 18.6437 13.9326 17.8478 15.5801 16.5271L22.3293 23.3129C22.4181 23.4027 22.5369 23.4474 22.656 23.4474C22.7693 23.4474 22.8821 23.4066 22.97 23.3252C23.1504 23.1574 23.1558 22.8801 22.9827 22.7058ZM0.906241 9.44466C0.906241 4.85521 4.76819 1.12171 9.51553 1.12171C14.2629 1.12171 18.1248 4.85521 18.1248 9.44466C18.1248 14.0341 14.2629 17.7676 9.51553 17.7676C4.76819 17.7676 0.906241 14.0341 0.906241 9.44466Z' fill='white')
                                        .product-slider__big-sale Sale
                                        a(href="assets/images/png/product__img--big.png" data-fancybox="certifications-gallery").product-slider__big-img
                                            img(src="assets/images/png/product__img--big.png" alt="")
                                .swiper-slide
                                    .product-slider__big-item
                                        .product-slider__big-zoom
                                            svg(viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12.6874 9.00661H9.96872V6.37831C9.96872 6.13651 9.76572 5.94026 9.51559 5.94026C9.26547 5.94026 9.06247 6.13651 9.06247 6.37831V9.00661H6.34375C6.09362 9.00661 5.89062 9.20286 5.89062 9.44466C5.89062 9.68647 6.09362 9.88271 6.34375 9.88271H9.06247V12.511C9.06247 12.7528 9.26547 12.9491 9.51559 12.9491C9.76572 12.9491 9.96872 12.7528 9.96872 12.511V9.88271H12.6874C12.9376 9.88271 13.1406 9.68647 13.1406 9.44466C13.1406 9.20286 12.9376 9.00661 12.6874 9.00661Z' fill='white')
                                                path(d='M22.9827 22.7058L16.2498 15.9366C17.9671 14.2715 19.0311 11.9762 19.0311 9.44466C19.0311 4.37204 14.7627 0.245605 9.51553 0.245605C4.2684 0.245605 0 4.37204 0 9.44466C0 14.5173 4.2684 18.6437 9.51553 18.6437C11.8187 18.6437 13.9326 17.8478 15.5801 16.5271L22.3293 23.3129C22.4181 23.4027 22.5369 23.4474 22.656 23.4474C22.7693 23.4474 22.8821 23.4066 22.97 23.3252C23.1504 23.1574 23.1558 22.8801 22.9827 22.7058ZM0.906241 9.44466C0.906241 4.85521 4.76819 1.12171 9.51553 1.12171C14.2629 1.12171 18.1248 4.85521 18.1248 9.44466C18.1248 14.0341 14.2629 17.7676 9.51553 17.7676C4.76819 17.7676 0.906241 14.0341 0.906241 9.44466Z' fill='white')
                                        .product-slider__big-sale Sale
                                        a(href="assets/images/png/product__img--big.png" data-fancybox="certifications-gallery").product-slider__big-img
                                            img(src="assets/images/png/product__img--big.png" alt="")
                                .swiper-slide
                                    .product-slider__big-item
                                        .product-slider__big-zoom
                                            svg(viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12.6874 9.00661H9.96872V6.37831C9.96872 6.13651 9.76572 5.94026 9.51559 5.94026C9.26547 5.94026 9.06247 6.13651 9.06247 6.37831V9.00661H6.34375C6.09362 9.00661 5.89062 9.20286 5.89062 9.44466C5.89062 9.68647 6.09362 9.88271 6.34375 9.88271H9.06247V12.511C9.06247 12.7528 9.26547 12.9491 9.51559 12.9491C9.76572 12.9491 9.96872 12.7528 9.96872 12.511V9.88271H12.6874C12.9376 9.88271 13.1406 9.68647 13.1406 9.44466C13.1406 9.20286 12.9376 9.00661 12.6874 9.00661Z' fill='white')
                                                path(d='M22.9827 22.7058L16.2498 15.9366C17.9671 14.2715 19.0311 11.9762 19.0311 9.44466C19.0311 4.37204 14.7627 0.245605 9.51553 0.245605C4.2684 0.245605 0 4.37204 0 9.44466C0 14.5173 4.2684 18.6437 9.51553 18.6437C11.8187 18.6437 13.9326 17.8478 15.5801 16.5271L22.3293 23.3129C22.4181 23.4027 22.5369 23.4474 22.656 23.4474C22.7693 23.4474 22.8821 23.4066 22.97 23.3252C23.1504 23.1574 23.1558 22.8801 22.9827 22.7058ZM0.906241 9.44466C0.906241 4.85521 4.76819 1.12171 9.51553 1.12171C14.2629 1.12171 18.1248 4.85521 18.1248 9.44466C18.1248 14.0341 14.2629 17.7676 9.51553 17.7676C4.76819 17.7676 0.906241 14.0341 0.906241 9.44466Z' fill='white')
                                        .product-slider__big-sale Sale
                                        a(href="assets/images/png/product__img--big.png" data-fancybox="certifications-gallery").product-slider__big-img
                                            img(src="assets/images/png/product__img--big.png" alt="")
                                .swiper-slide
                                    .product-slider__big-item
                                        .product-slider__big-zoom
                                            svg(viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12.6874 9.00661H9.96872V6.37831C9.96872 6.13651 9.76572 5.94026 9.51559 5.94026C9.26547 5.94026 9.06247 6.13651 9.06247 6.37831V9.00661H6.34375C6.09362 9.00661 5.89062 9.20286 5.89062 9.44466C5.89062 9.68647 6.09362 9.88271 6.34375 9.88271H9.06247V12.511C9.06247 12.7528 9.26547 12.9491 9.51559 12.9491C9.76572 12.9491 9.96872 12.7528 9.96872 12.511V9.88271H12.6874C12.9376 9.88271 13.1406 9.68647 13.1406 9.44466C13.1406 9.20286 12.9376 9.00661 12.6874 9.00661Z' fill='white')
                                                path(d='M22.9827 22.7058L16.2498 15.9366C17.9671 14.2715 19.0311 11.9762 19.0311 9.44466C19.0311 4.37204 14.7627 0.245605 9.51553 0.245605C4.2684 0.245605 0 4.37204 0 9.44466C0 14.5173 4.2684 18.6437 9.51553 18.6437C11.8187 18.6437 13.9326 17.8478 15.5801 16.5271L22.3293 23.3129C22.4181 23.4027 22.5369 23.4474 22.656 23.4474C22.7693 23.4474 22.8821 23.4066 22.97 23.3252C23.1504 23.1574 23.1558 22.8801 22.9827 22.7058ZM0.906241 9.44466C0.906241 4.85521 4.76819 1.12171 9.51553 1.12171C14.2629 1.12171 18.1248 4.85521 18.1248 9.44466C18.1248 14.0341 14.2629 17.7676 9.51553 17.7676C4.76819 17.7676 0.906241 14.0341 0.906241 9.44466Z' fill='white')
                                        .product-slider__big-sale Sale
                                        a(href="assets/images/png/product__img--big.png" data-fancybox="certifications-gallery").product-slider__big-img
                                            img(src="assets/images/png/product__img--big.png" alt="")
                                .swiper-slide
                                    .product-slider__big-item
                                        .product-slider__big-zoom
                                            svg(viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12.6874 9.00661H9.96872V6.37831C9.96872 6.13651 9.76572 5.94026 9.51559 5.94026C9.26547 5.94026 9.06247 6.13651 9.06247 6.37831V9.00661H6.34375C6.09362 9.00661 5.89062 9.20286 5.89062 9.44466C5.89062 9.68647 6.09362 9.88271 6.34375 9.88271H9.06247V12.511C9.06247 12.7528 9.26547 12.9491 9.51559 12.9491C9.76572 12.9491 9.96872 12.7528 9.96872 12.511V9.88271H12.6874C12.9376 9.88271 13.1406 9.68647 13.1406 9.44466C13.1406 9.20286 12.9376 9.00661 12.6874 9.00661Z' fill='white')
                                                path(d='M22.9827 22.7058L16.2498 15.9366C17.9671 14.2715 19.0311 11.9762 19.0311 9.44466C19.0311 4.37204 14.7627 0.245605 9.51553 0.245605C4.2684 0.245605 0 4.37204 0 9.44466C0 14.5173 4.2684 18.6437 9.51553 18.6437C11.8187 18.6437 13.9326 17.8478 15.5801 16.5271L22.3293 23.3129C22.4181 23.4027 22.5369 23.4474 22.656 23.4474C22.7693 23.4474 22.8821 23.4066 22.97 23.3252C23.1504 23.1574 23.1558 22.8801 22.9827 22.7058ZM0.906241 9.44466C0.906241 4.85521 4.76819 1.12171 9.51553 1.12171C14.2629 1.12171 18.1248 4.85521 18.1248 9.44466C18.1248 14.0341 14.2629 17.7676 9.51553 17.7676C4.76819 17.7676 0.906241 14.0341 0.906241 9.44466Z' fill='white')
                                        .product-slider__big-sale Sale
                                        a(href="assets/images/png/product__img--big.png" data-fancybox="certifications-gallery").product-slider__big-img
                                            img(src="assets/images/png/product__img--big.png" alt="")
            .product__right
                h2.product__title Arrowpure UKF8001 Refrigerator Water Filter Replacement Cartridge
                .product__info
                    .product__info-box
                        .product__info-name Availability: 
                            strong In stock
                    .product__info-box
                        .product__info-name SKU: 
                            strong APF-1100
                .product__right-content
                    .content
                        ul 
                            li Certified According to NSF 42&372
                            li Compatible with Maytag UKF8001AXX, 46-9992, 9005, Filter 4, PURICLEAN II, MFI2568AES APF-1100
                .product__reviews
                    .product__reviews-rating
                        .star-rating
                            input#5-stars(type='radio' name='rating' value='5')
                            label.star(for='5-stars') ★
                            input#4-stars(type='radio' name='rating' value='4')
                            label.star(for='4-stars') ★
                            input#3-stars(type='radio' name='rating' value='3' checked)
                            label.star(for='3-stars') ★
                            input#2-stars(type='radio' name='rating' value='2')
                            label.star(for='2-stars') ★
                            input#1-star(type='radio' name='rating' value='1')
                            label.star(for='1-star') ★
                    a(href="#").product__reviews-value 173 reviews
                    a(href="#").product__reviews-write Write a review
                .product__descr
                    .product__descr-img.img-wrap 
                        div
                            img(src="assets/images/png/product__descr-img.png" alt="")
                    .content 
                        p  his refrigerator filter is Tested and Certified by WQA according to NSF/ANSI 42 for materials safety and structural integrity.
                .product__list 
                    .product__list-item.product__list-item--active
                        .product__list-row 
                            .product__list-quantity 1 Filter —
                            .product__list-price $14.99
                    .product__list-item
                        .product__list-row 
                            .product__list-quantity 2 Filter —
                            .product__list-price $19.99
                        .product__list-sale ( each $9.99 You save 33%)
                    .product__list-item
                        .product__list-row 
                            .product__list-quantity 3 Filter —
                            .product__list-price $27.99
                        .product__list-sale ( each $9.33 You save 38%)
                    .product__list-item
                        .product__list-row 
                            .product__list-quantity 1 Filter —
                            .product__list-price $14.99
                    .product__list-item
                        .product__list-row 
                            .product__list-quantity 2 Filter —
                            .product__list-price $19.99
                        .product__list-sale ( each $9.99 You save 33%)
                    .product__list-item
                        .product__list-row 
                            .product__list-quantity 3 Filter —
                            .product__list-price $27.99
                        .product__list-sale ( each $9.33 You save 38%)
                    .product__list-item.product__list-item--hide
                    .product__list-item.product__list-item--hide
                .product__radio
                    .radio
                        .radio__box
                            label.radio__label
                                input.radio__input(type='radio' name='radio-delivery' checked)
                                .radio__content
                                    span
                                | Buy Once
                            .radio__price
                                span.radio__price-new $99.99
                                span.radio__price-old $199.99
                                | MSRP
                        .radio__box
                            label.radio__label
                                input.radio__input(type='radio' name='radio-delivery')
                                .radio__content
                                    span
                                | Subscribe
                            .radio__price
                                span.radio__price-new $90.99 
                                | save 10%
                            .radio__tooltip
                                .tooltip
                                    span.tooltip__title(attr="Каскадные таблицы стилей") ?


                .product__select
                    .select
                        .select__value 3 Months
                        .select__variants
                            label.select__variant.select__variant--active(for='')
                                span 3 Months
                            label.select__variant(for='')
                                span 4 Months
                            label.select__variant(for='')
                                span 5 Months
                .product__amount
                    .product__amount-text Quantity:
                    .amount
                        span.amount__minus
                            svg(viewBox='0 0 13 2' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(y='0.458336' width='13' height='1.08333')
                        input.amount__input(type='text' value='1')
                        span.amount__plus
                            svg(viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(y='5.49961' width='12' height='1')
                                rect(x='5.5' y='12' width='12' height='1' transform='rotate(-90 5.5 12)')
                    .product__amount-btn
                        .btn add to cart

//- 