section.product-info
    .center-wrap 
        .toogles.toogles--fade
            .product-info__list
                .toogles__item-title.product-info__list-title.toogles__item-title--active(data-toogles='1')
                    | Overview
                .toogles__item-title.product-info__list-title(data-toogles='2')
                    | Specs
                .toogles__item-title.product-info__list-title(data-toogles='3') 
                    | FAQ
                .toogles__item-title.product-info__list-title(data-toogles='4')
                    | Reviews

            .toogles__item.toogles__item--active(data-toogles='1')
                .toogles__item-content(style='display: block;')
                    div
                        .product-info__bg.img-wrap 
                            div
                                img(src="assets/images/png/product-info__img.png" alt="")
                        .product-info__body
                            .product-info__wrap
                                .product-info__img
                                    .product-info__img-wrap  
                                        img(src='assets/images/png/product__wrap-img1.png' alt='')
                                .product-info__content
                                    .product-info__content-wrap 
                                        .content
                                            h6 The APF-1100 water filter by Arrowpure.
                                            p This high-quality water filter replacement provides you with consistently clean, healthy and delicious water. Install in 60 seconds and eliminate any chlorine, bacteria, chemicals and dangerous elements that might be found in your water source. Simple as that. No leaks, no complications, just a steady flow of healthy and tasty water!
                            .product-info__wrap
                                .product-info__img
                                    .product-info__img-wrap.product-info__img-wrap--100  
                                        img(src='assets/images/png/product__wrap-img2.png' alt='')
                                .product-info__content
                                    .product-info__content-wrap 
                                        .content
                                            h6 advanced filtration
                                            ol 
                                                li advanced filtration Get rids from cysts, chlorine & harmful chemicals
                                                li Keeps the healthy minerals & improves taste
                                                li Compatible with most Kenmore, Viking, Maytag refrigerators
                                                li Installs in seconds, perfect fit, no leaks
                                                li WQA certification according to NSF 42, NSF 372
                            .product-info__wrap
                                .product-info__img
                                    .product-info__img-wrap  
                                        img(src='assets/images/png/product__wrap-img3.png' alt='')
                                .product-info__content
                                    .product-info__content-wrap 
                                        .content
                                            h6 Compatible with the following refrigerator models:
                                            p 4396395, 4396395P, 4396395T, 46-9005-750, 46-9006, 46-9006-750, 46-9992, 469006, 469006-750, 67003523, 67003523-750, 67003591, 67003727, 67006470, 8001, 8001P, 8171249, 9006, 9006P, 9992, AFF3, AP4343647, EFF-6007A, EFF6007A, FILTER4
                            .product-info__wrap
                                .product-info__img
                                    .product-info__img-wrap  
                                        img(src='assets/images/png/product__wrap-img4.png' alt='')
                                .product-info__content
                                    .product-info__content-wrap 
                                        .content
                                            h6 WQA certification according to NSF 42
                                            p WQA certification according to NSF 42* means reducing aesthetic impurities such as chlorine and taste/odor from your water. Enjoy tastier and healthier water with a refreshing taste.
                            .product-info__wrap
                                .product-info__img
                                    .product-info__img-wrap  
                                        img(src='assets/images/png/product__wrap-img5.png' alt='')
                                .product-info__content
                                    .product-info__content-wrap 
                                        .content
                                            h6 WQA certification according to NSF 372
                                            p means that the Arrowpure water filter is made of lead-free material giving you a completely safe water.
                            .product-info__wrap
                                .product-info__img
                                    .product-info__img-wrap  
                                        img(src='assets/images/png/product__wrap-img6.png' alt='')
                                .product-info__content
                                    .product-info__content-wrap 
                                        .content
                                            h6 coconut activated carbon 
                                            p Enjoy advanced filtration with coconut activated carbon that is super-absorbent and completely natural. Get rid of the harmful chlorine, cysts, lead, and other similar harmful chemicals, and keep the healthy minerals.
                            .product-info__wrap
                                .product-info__img
                                    .product-info__img-wrap  
                                        img(src='assets/images/png/product__wrap-img7.png' alt='')
                                .product-info__content
                                    .product-info__content-wrap 
                                        .content
                                            h6 premium fridge filters  
                                            p Our premium fridge filters come with easy to understand instructions so you can have yours ready in under a minute. You'll love that installation takes no tools, no time and no effort!
                            .product-info__wrap
                                .product-info__img
                                    .product-info__img-wrap  
                                        img(src='assets/images/png/product__wrap-img8.png' alt='')
                                .product-info__content
                                    .product-info__content-wrap 
                                        .content
                                            h6 healthier and tastier 
                                            p  Drink healthier and tastier water with your family every day. Our ultimate goal is to enhance your health and overall wellbeing with perfect filtration. For best results change our replacement filters every 6 months.
            .toogles__item(data-toogles='2')
                .toogles__item-content
                    div
                        p CONTENT
            .toogles__item(data-toogles='3')
                .toogles__item-content
                    div
                        p CONTENT
            .toogles__item(data-toogles='4')
                .toogles__item-content
                    div
                        p CONTENT