.toogles__item.toogles__item--active(data-toogles="3")
  .step.toogles__item-content(style='display: block;')
    .step__row 
      .step__left
        h2.step__title 
          |Shipping
        
        a(href="#").btn.next-wizard
          |Next: Review & Place Order
      .aside-product 
        .aside-product__items 
          .aside-product__items-item
            .item-row 
              h4
                |Sub-Total:
              .price 
                |$<span>229.94</span>
            .item-row
              span
                |sales tax
              span
                |tbd
            .item-row
              span
                |estimated shipping cost 
              span
                |$4.99
          .aside-product__items-item
            .item-row 
              h4
                |Estimated Total:
              .price.blue 
                |$<span>234.93</span>
            span.warning
              |tax and shipping cost will be finalized during checkout
          .aside-product__basket
            .aside-product__basket-row
              h4.aside-product__basket-title
                |(<span>2</span>) Items
              a(href="#").edit.back-wizard
                img(src="assets/images/svg/icon-edit.svg", alt="")
                |Edit
            .aside-product__basket-wrap 
              .aside-product__basket-item
                .img-wrap
                  div 
                    img(src="assets/images/png/product__img--small1.png", alt="")
                .aside-product__basket-info 
                  .title Arrowpure UKF8001 Refrigerator Water Filter Replacement Cartridge
                  .aside-product__basket-row
                    span SKU: <strong>APF-1100</strong>
                    span Qty: <strong>1</strong>
                  .aside-product__basket-row
                    span 2 Filter — <strong>$19.99</strong>
                    span.price $19.99
              .aside-product__basket-item
                .img-wrap
                  div 
                    img(src="assets/images/png/product__img--small1.png", alt="")
                .aside-product__basket-info 
                  .title Arrowpure UKF8001 Refrigerator Water Filter Replacement Cartridge
                  .aside-product__basket-row
                    span SKU: <strong>APF-1100</strong>
                    span Qty: <strong>1</strong>
                  .aside-product__basket-row
                    span 2 Filter — <strong>$19.99</strong>
                    span.price $19.99
          
