section.subscription
    .subscription__wrap
        .center-wrap
            h2.simple-title Filterway Subscription
            .subscription__text
                | Delivered on schedule. According to you 
                a.subscription__link(href="") more detalis
    +advantages([{src:'assets/images/svg/advantages-icon2.svg',title:'Exclusive Savings',text:'10% OFF savings on every subscription plus FREE shipping'},
        {src:'assets/images/svg/advantages-icon7.svg',title:'Convenience',text:'Receive your filters automatically when they are ready to be changed'},
        {src:'assets/images/svg/advantages-icon8.svg',title:'Cancel Anytime',text:'Cancel your subscription online at anytime for any reason'},
        {src:'assets/images/svg/advantages-icon4.svg',title:'30 Day Returns',text:'Return any item within 30 days from your date'}])