.thank-you 
	img(src="assets/images/png/bg-thank-you.png" alt="").background
	.thank-you__item 
		.content 
			h1
				|thank you for your order!
		.content 
			h2 Your order has been received. 
			p 
				|But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, <strong>test@smelo.com.ua</strong>
		.content 
			h2 order number: <strong>138999999</strong>