.wizard 
  .center-wrap
    .wizard__wrap.toogles.toogles--fade 
      ul.wizard__steps-list
        li.wizard__steps-item.toogles__item-title(data-toogles="1")
          span.wizard__steps-name
            |CART
          span.wizard__steps--indicator.wizard__steps--indicator--active
        li.wizard__steps-item.toogles__item-title(data-toogles="2")
          span.wizard__steps-name
            |SHIPPING INFO
          span.wizard__steps--indicator.wizard__steps--indicator--active
        li.wizard__steps-item.toogles__item-title.toogles__item-title--active(data-toogles="3")
          span.wizard__steps-name
            |PAYMENT INFO
          span.wizard__steps--indicator.wizard__steps--indicator--active
        li.wizard__steps-item.toogles__item-title(data-toogles="4")
          span.wizard__steps-name
            |REVIEW & PLACE ORDER
          span.wizard__steps--indicator
      .wizard__steps
        .wizard__item
          include ./step-1.pug
        .wizard__item
          include ./step-2.pug
        .wizard__item
          include ./step-3.pug
        .wizard__item
          include ./step-4.pug