@font-face {
    font-family: "Calibre";
    src: url('~fonts/Calibre/Calibre-Regular.woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Calibre";
    src: url('~fonts/Calibre/Calibre-Semibold.woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Calibre";
    src: url('~fonts/Calibre/Calibre-Bold.woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "MyriadPro";
    src: url('~fonts/Myriad/MyriadPro-Bold.woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "MyriadPro";
    src: url('~fonts/Myriad/MyriadPro-Light.woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "MyriadPro";
    src: url('~fonts/Myriad/MyriadPro-Regular.woff2');
    font-weight: 400;
    font-display: swap;
}