// Font
$primary-f:'Calibre',
sans-serif;
$secondary-f:'MyriadPro',
sans-serif;


// Color
$primary-c:#313131;
$secondary-c:#0166B0;
$danger-с:#ff0000;


// Media
$large_desktop: 1200px;
$large_tablet: 1024px;
$large_mobile: 600px;