// Font
$primary-f:'Calibre',
sans-serif;
$secondary-f:'MyriadPro',
sans-serif;


// Color
$primary-c:#000;
$secondary-c:#ccc;
$danger-—Å:#ff0000;


// Media
$large_desktop: 1750px;
$large_tablet: 1024px;
$large_mobile: 480px;