extends ../layout/main

block variables
    - var title = 'Filterway-cabinet3';
    - var pageClass = 'cabinet3-page';

block content
    .cabinet__breadcrumb
        +breadcrumb([{href:'index.html',text:'Home'},{href:'index.html',text:'Account'}])
    include ../includes/cabinet3

//- block script
