extends ../layout/main

block variables
    - var title = 'Filterway-catalogTest';
    - var pageClass = 'catalogTest-page';

block content
    .catalog-test__breadcrumb
        +breadcrumb([{href:'index.html',text:'Home'},{text:'Test'}])
    include ../includes/catalog-test
    include ../includes/brand

//- block script