extends ../layout/main

block variables
    - var title = 'Filterway-catalog';
    - var pageClass = 'catalog-page';

block content
    +breadcrumb([{href:'index.html',text:'Home'},{text:'All Products'}])
    include ../includes/catalog

//- block script