extends ../layout/main

block variables
  - var title = 'Filterway';
  - var pageClass = 'index-page';

block content
  include ../includes/main-screen
  +advantages([{src:'assets/images/svg/advantages-icon1.svg',title:'TESTED & CERTIFIED',text:'Rigorous third party testing certifies our contaminant-reducing power'},
    {src:'assets/images/svg/advantages-icon2.svg',title:'FREE SHIPPING',text:'Free shipping with no order minimum required'},
    {src:'assets/images/svg/advantages-icon5.svg',title:'MONEY BACK GUARANTEE',text:'Subscribe and save big'},
    {src:'assets/images/svg/advantages-icon6.svg',title:'5 STAR REVIEWS',text:'75 000+ humans are',link:'here for it',href:'#'}])
  include ../includes/product-cards
  +advantages([{src:'assets/images/svg/advantages-icon2.svg',title:'Exclusive Savings',text:'10% OFF savings on every subscription plus FREE shipping'},
    {src:'assets/images/svg/advantages-icon7.svg',title:'Convenience',text:'Receive your filters automatically when they are ready to be changed'},
    {src:'assets/images/svg/advantages-icon8.svg',title:'Cancel Anytime',text:'Cancel your subscription online at anytime for any reason'},
    {src:'assets/images/svg/advantages-icon4.svg',title:'30 Day Returns',text:'Return any item within 30 days from your date'}])

//- block script
