extends ../layout/main

block variables
  - var title = 'Filterway';
  - var pageClass = 'index-page';

block content
  +breadcrumb([{href:'index.html',text:'Home'},{href:'index.html',text:'Products'},{href:'index.html',text:'Refrigerator Filters'},{href:'index.html',text:'Amana'},{text:'Arrowpure UKF8001 Refrigerator Water Filter Replacement Cartridge'}])
  include ../includes/main-screen

//- block script
//-  i  i  i  i 