extends ../layout/main

block variables
  - var title = 'Filterway';
  - var pageClass = 'index-page';

block content
  include ../includes/main-screen
  include ../includes/nothing-hide
  include ../includes/product-cards
  include ../includes/subscription
//- block script
