extends ../layout/main

block variables
    - var title = 'Filterway-product';
    - var pageClass = 'product-page';

block content
    +breadcrumb([{href:'index.html',text:'Home'},{href:'index.html',text:'Products'},{href:'index.html',text:'Refrigerator Filters'},{href:'index.html',text:'Amana'},{text:'Arrowpure UKF8001 Refrigerator Water Filter Replacement Cartridge'}])
    +advantages([{src:'assets/images/svg/advantages-icon1.svg',title:'Certification',text:'NSF, WQA, IAPMO'},{src:'assets/images/svg/advantages-icon2.svg',title:'FREE SHIPPING',text:'Free shipping with no order minimum required'},{src:'assets/images/svg/advantages-icon3.svg',title:'Exclusive Offers',text:'Subscribe and save big'},{src:'assets/images/svg/advantages-icon4.svg',title:'30-day Return',text:'No-worries guarantee'}])
    //- include ../includes/main-screen

//- block script
