extends ../layout/main

block variables
  - var title = 'Filterway-sign-in';
  - var pageClass = 'sign-in-page';

block content
  +breadcrumb([{href:'index.html',text:'Home'},{href:'shoping-cart.html',text:'Shopping Cart'}])
  include ../includes/wizard

//- block script
